@charset "UTF-8";
/* RESPONSIVE *************************************/
@media screen and (min-width: 1360px){
	.menu-sec{
		.wrapper{
			padding: 0 20px !important;
		}
	}
}
@media screen and (min-width: 990px){
	.menu-mobile{
		display: none;
	}
	body.area-cliente .chat-header .nome-representante{
		float: left;
	}
	[class^="mobile-"],
	[class*=" mobile-"] {
		display: none;
	}

}
@media screen and (max-width: 989px){
	[class^="mobile-"],
	[class*=" mobile-"] {
		display: block;
	}
	body{
		padding-top: 130px !important;
	}

	/* TOPO */
	header{
		.menu-principal .wrapper{
			min-height: 85px;
		}
		.site-branding h1.site-title{
			a{
				width: 122px;
				height: 44px
			}
		}
		.mobile-menu-control.ferramentas-topo{
			width: auto;
			>ul>li{
				padding: 15px 0 0;
				&.carrinho{
					width: auto;
					ul{
						width: 390px;
						.icon-fechar-small{
							font-size: 0.7em;
							&:before{color: rgba($Cinza,0.5);}
						}
					}
				}
				&.toggle-menu{
					z-index: 1100;
				}
			}
			[class^="icon-"]:before,
			[class*=" icon-"]:before,
			[class^="icon-"]:after,
			[class*=" icon-"]:after  {
				font-size: 1.3em;
			}
		}
		&.alt{
			.mobile-menu-control.ferramentas-topo>ul>li{
				padding: 22px 0 0;
			}
		}
	}
	.menu-sec .wrapper{
		padding-left:0;
		padding-right:0;  
		> ul >li {
			display: none;
			//&.oferta-relampago, &.produtos-az {
			//	display: inline-block;
			//}
		}

	}
	/* MENU MOBILE *************************************/	
	.menu-principal, 
	.overlay, 
	.menu-mobile, 
	.toggle-menu.open 
	.icon-menu-1:after{
		display: none;
	}
	body.menu-open{
		overflow-y: hidden; 
	}
	.overlay{
		background: #002b50;
		width: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		display: block;
		@include transitions;
		&.open{
			
			width: 100vw;
		}
	}
	.menu-mobile{
		padding-top: 0px;
		padding-bottom: 150px;
		position: relative;
		z-index: 1100;
		height: 100vh;
		background: #003664;
		&.open{
			display: block;
		}
		>.wrapper{
			max-height: calc(100vh - 150px);
		}
		.wrapper{
			max-width: 320px;
			margin: 0 auto;
			overflow-x: hidden;
			overflow-y: auto;
		}
		li{
			position: relative;
			a, span{
				color: #fff;
				display: block;
				padding: 5px 20px 5px 10px ;
			}
			>ul{
				background: rgba(0,0,0,0.3);
				padding: 0 10px;
				border-radius: 5px;
				font-size: $Small;
				height: 0;
				overflow: hidden;
				@include transitions;
				form{
					padding: 5px 10px;
				}
				label{
					color: #fff;
					font-size: $Small;
					width: 100%;
					display: block;
				}
				select{
					width: 100%;
					display: block;
				}
			}
			.toggle{
				position: absolute;
				top: 5px;
				right: 0;
				display: block;
				width: 20px;
				height: 20px;
				text-align: center;
				background: transparent;
				line-height: 18px;
				border-radius: 10px;
				color: $Turquesa;
				&:before{
					content:'+';
				}
			}
			&.open ul{
				height: auto;
				padding: 10px;
			}
			&.open .toggle:before{
				content:'-';	
			}
			.alert{
				position: relative;
			    display: inline-block;
				font-size: 8px;
				font-weight: 800;
				text-align: center;
				width: 16px;
				height: 16px;
				line-height: 16px;
				border-radius: 8px;
				background: #f9a11d;
				color: #fff;
				top: -11px;
				right: -5px;
				padding: 0;
			}
			&.erro{
				.alert{
					background: $Vermelho;
				}

			}
		}
		.menu-bottom{
			background: #002b50;
			    background: #002b50;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 12000;
			.oferta-relampago{
				>a{ 
					text-align: center; 
					@include borderRadius;
				}
				span{
					padding: 0;
				}
				ul{
					width: 100% !important;
					text-align: center;
					li>div{
						&.miniatura{
							width: 70%;
						}
						&.descricao{
							padding: 0px;
							height: auto;
							width: 100%
						}
					}
					h3{
						font-size: $Small;
					}
					form{
						font-size: $Small
					}
					.bt-principal{
						margin-bottom: 0;
					}

				}
				.desconto{
					top: -5px;
					left: unset;
					right: -10px;
					padding: 10px;
				}

				&.open ul{
					height: auto !important;
				}
			}
		.busca-form{
				margin: 10px 0 0;
				padding-bottom: 0;
				form #busca-topo{
					background: #fff;
				} 
			}
		}
	}
		
	
	.toggle-menu.open .icon-menu-1:before{
		content:'\6c';
		color: $Turquesa;
	}
	
	/* LISTA PRODUTOS *************************************/
	.produtos-content.grid4 {
		.wrappper{
			max-width: 740px;
		}
		.produtos-list li:nth-child(4n){
			margin-right: 50px;
		}
		.produtos-list li:nth-child(3n){
			margin-right: 0;
		}
	}
	.produtos-content.grid5 {
		.wrappper{
			max-width: 740px;
		}
	}
	.produtos-tools{
		.other-tools{
			form, .legenda {
				width: 100%;
				float: none;
				text-align: center;
			}
		}
	}
	.table-wrapper{
		overflow-x: scroll;  				
		padding-bottom: 15px;
	}
	table{
		min-width: 750px;
	}

	/* FOOTER *************************************/
	footer {
		.newsletter .wrapper{
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			max-width: 550px;
			.content{
				display: block;
				text-align: center;
			}
			.icon-mail{
				display: block;
			}
			#form-newsletter{
				width: 100%;
				height: 70px;
				margin-top: 20px;
			}
		}
		.footer-info .footer-content{
			width: 33.333%;
			border-top: solid 1px rgba(3, 215, 255, 0.15);
		}
		.footer-info .footer-content.televendas{
			border-left: 0;
		}
		.footer-info .footer-content.menu-footer{
			width: 100%;
			height: auto;
			text-align: center;
			padding-right: 0;
			border-bottom: solid 1px rgba(0, 0, 0, 0.2);
			border-right: 0;
			ul li{
				display: inline-block;
				a{
					padding: 5px;
					margin: 0 5px;
				}
			}
		}
		.site-branding {
			h1.site-title{
				margin: 0 auto 30px;
				display: block;

			}
			.distribuidoras {
				display: block;
				max-width: 480px;
				margin: 0 auto;
				font-size: 0;
				text-align: center;
				.distribuidora{
					font-size: 1rem;
					width: 160px;
					margin: 0 0 15px;
					background-position: center;
				}
			}

		}
	}

	#banner-principal .owl-nav{
		display: none;

	}
	.content-home {
		padding: 30px 20px;
		.image{
			width: 100%;
			text-align: center;
			float: none !important;
			img{
				margin: 0 auto;
			}
		}
		.text{
			width: 100%;
			margin: 0!important ;
		}
		&.clinic-comfort .text .wrapper,
		&.comfort .text .wrapper{
			float: none;
			margin: 0 auto;
		}
	}

	
	/* AREA CLIENTE *************************************/
	body.area-cliente,
	body.area-representante {
		.area-cliente-container {
			.lateral{ 
				display: none;
			}
			.content{
				padding-left: 0;
			}
		}
	}
	.meus-pedidos-footer{
		a{
			font-size: $Small;
		}
		.bt-principal{
			margin-top: 0 !important;
			margin-bottom: 0;
		}
	}
	.meus-pedidos-footer a {
	    width: 100%;
	    margin: 0 auto 15px !important;
	    text-align: center;
	    display: block;
	    max-width: 230px;
	    float: none !important;
	}
}

@media screen and (max-width: 768px){
	body{
		//padding-top: 85px !important;
	}
	body.selecione-distribuidora{
		padding-top: 0 !important;
	}
	.hidden-mobile{
		display: none;
	}
	/* LISTA PRODUTOS *************************************/
	.produtos-content.grid4 {
		.wrappper{
			max-width: 490px;
		}
		.produtos-list li{
			&:nth-child(3n){
			margin-right: 50px;
			}
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	.produtos-content.grid5 {
		.wrappper{
			max-width: 740px;
		}
	}

	/* MIDIA *************************************/
	.midia{
		.video, .catalogo{
			width: 100%;
			margin: 0 0 0 10px;
		}
	}
	/* FORMS *************************************/
	.col-1,
	.col-2,
	.col-3,
	.col-2-3,
	.col-4,
	.col-3-4,
	.col-5,
	.col-2-5,
	.col-3-5,
	.col-4-5,
	.col-6{
		width: 100%;
	}
	body.area-cliente .log-pedido, body.area-cliente .info-pedido,
	body.area-representante .log-pedido, body.area-representante .info-pedido{
		display: block;
	    width: 100%;
	    margin-bottom: 30px;
	    margin-top: 30px;
	    .left{
	    	width: 90px;
	    	margin-right: 5px;
	    }
	    li{
	    	margin-bottom: 10px;
	    	line-height: 	1.2rem;
	    }

	}
	body.area-cliente .page-content.chat .chat-data,
	body.area-representante .page-content.chat .chat-data,
	body.area-cliente .page-content.chat .chat-nome,
	body.area-representante .page-content.chat .chat-nome{
		position: relative;
		line-height: 	1em;
	}
	body.area-cliente .page-content.chat .chat-message-2,
	body.area-representante .page-content.chat .chat-message-2{
		text-align: right;
		.content-message{
			text-align: left;
		}
	}

}

@media (min-width: 600px){
	.alignright{
		float: right;
		margin: 0 0 30px 30px;
		&.bt-principal{
			margin-top: 20px;
		}
	}

	.alignleft{
		float: left;
		margin: 0 30px 30px 0;
	}	
	body.area-cliente .page-content.chat,
	body.area-representante .page-content.chat {
		height: 300px;
	}
	
}
@media (max-width: 559px){
.alignright.bt-principal{
		float: right;
	}
}
@media screen and (max-width: 549px){
	body.selecione-distribuidora .lista-distribuidora li{
		width: 100%;
		max-width: 	400px;
		display: block;
		margin: 0 auto;
	}
	/* TOPO  *************************************/
	header{
		width: 100vw;
		min-width: 320px;
		.site-branding {
			width: 140px;
			.distribuidoras{
				display: none;
			}
		}
	}
	body.visitante .login-boxes .login-box:first-child,
	body.visitante .login-boxes .login-box:last-child{
		border: 0;
		width: 100%;
		padding: 0;
	}
	/* LISTA PRODUTOS *************************************/
	.produtos-content.grid4 {
		.wrappper{
			max-width: 240px;
		}
		.produtos-list li{
			&:nth-child(3n){
			margin-right: 0px;
			}
			&:nth-child(2n){
				margin-right: 0;
			}
			&:last-child{
				display: inline-block;
			}
		}
	}
	.produtos-content.grid5 {
		.wrappper{
			max-width: 740px;
		}
	}
	.produtos-tools .other-tools .legenda span{
		font-size: 10px;
	}

	body.area-cliente .area-cliente-container .content .area-cliente-atalhos li,
	body.area-representante .area-cliente-container .content .area-cliente-atalhos li{
		font-size:  11px;
		span{
			width: 43px;	
		}
	}
	body.area-cliente .area-cliente-container .content .area-cliente-atalhos.mobile-only,
	body.area-representante .area-cliente-container .content .area-cliente-atalhos.mobile-only{
		margin-top: 30px;
	}
	body.area-cliente ul.status,
	body.area-representante ul.status {
		min-width: 	400px;
		li{
				font-size: 11px;
			}
	}
	body.area-cliente .page-content.chat, body.area-representante .page-content.chat{
		height: 250px;
	}
	/* FOOTER *************************************/
	footer .newsletter .description{
		width: auto; 
	}
	footer .footer-info .footer-content{
		width: 100%;
		border-left:0;
		border-right: 0;
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
		border-top: solid 1px rgba($Turquesa, 0.15);
		text-align: center;
		height: auto;

	}

}