@charset "UTF-8";
/* CSS RESET*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{margin:0;padding:0;box-sizing:border-box}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0; width: 100%;}

$Ubuntu: 'Ubuntu', sans-serif;

$Azul: #0071bb;
$AzulEsc: #003664;
$Turquesa: #03d7ff;
$VermelhoExfar: #d82f0feb;
$Laranja: #f9a11d;
$Vermelho: #c84906;
$Cinza: #808080;
$CinzaExfar: #4b4a49;
$Small: 0.815em;
$Smaller: 0.75em;
$Narrow: 0.625em;
$h1: 2.25em;
$h2: 2.25em;
$h3: 2.0em;
$h4: 1.75em;
$h5: 1.5em;
$h6: 1.25em;

@mixin transitions{
	-webkit-transition:  all .2s ease-in-out; -moz-transition:  all .2s ease-in-out; -o-transition:  all .2s ease-in-out; transition: all .2s ease-in-out;
}
@mixin gradienteLaranja{
	background-image: -ms-linear-gradient(top, rgba(250,250,0,0.4) 0%, rgba(250,250,0,0.1) 49%, $Laranja 50%, $Laranja 100%);
	background-image: -moz-linear-gradient(top, rgba(250,250,0,0.4) 0%, rgba(250,250,0,0.1) 49%, $Laranja 50%, $Laranja 100%);
	background-image: -o-linear-gradient(top, rgba(250,250,0,0.4) 0%, rgba(250,250,0,0.1) 49%, $Laranja 50%, $Laranja 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(250,250,0,0.4)), color-stop(49, rgba(250,250,0,0.1)), color-stop(50, $Laranja), color-stop(100, $Laranja));
	background-image: -webkit-linear-gradient(top, rgba(250,250,0,0.4) 0%, rgba(250,250,0,0.1) 49%, $Laranja 50%, $Laranja 100%);
	background-image: linear-gradient(to bottom, rgba(250,250,0,0.4) 0%, rgba(250,250,0,0.1) 49%, $Laranja 50%, $Laranja 100%);
	border: solid 2px $Laranja;
	text-shadow: 0px 1px 5px rgba($Vermelho,0.5);
}
@mixin toggleMenu{
	position: absolute;
	width: 50px;
	height: 3px;
	background: rgba(255,255,255,1);
	bottom: 0;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
	@include transitions;
}
@mixin borderRadius{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
@mixin borderRadius2{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

@mixin textShadow{
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
@mixin boxShadow{
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
}

/* ESTRUTURA *************************************/

*{margin: 0; padding: 0; box-sizing: border-box;}
html{
	min-width: 320px;
	height: 100%;
}
body{
	font-family: $Ubuntu;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	padding-top: 143px;
	color: $Cinza;
	min-width: 320px;
	height: 100%;
}
.wrapper{
	max-width: 1360px;
	padding:20px;
	margin: 0 auto;
	@include transitions;
	&.small{
		max-width: 990px;
		}
	&.tiny{
		max-width: 790px;
	}
}
.content-site .wrapper{
	max-width: 990px;
	padding: 50px 20px;
	margin: 0 auto;
}

img{
	max-width: 100%;
	display: block; }
p{
	margin-bottom: 15px;
}
small{
	font-size: $Small;
}
strong{
	font-weight: 700;
}
hr{
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba($Cinza,0.25);
    margin: 40px 0;
}
.azul{
	color: $Azul;
}
.laranja{
	color: $Laranja
}
.vermelho{
	color: $Vermelho
}
.entry-content ul,ol{
	padding: 30px 0 30px 20px;
	li{
		margin-bottom: 7px;
		position: relative;
	}
}
.entry-content ol li {
	counter-increment: item;
	&:first-child {
			counter-reset: item;
		}
	&:before {
	content:counters(item, ".") " ";
	font-weight: 700;
	position: absolute;
	top: 0;
	left: -20px;
	}
}
.entry-content ul li:before {
		content:"●";

		font-weight: 700;
		position: absolute;
		top: 0;
		left: -20px;
	}
a{
	text-decoration: none;
	color: $CinzaExfar;
	@include transitions;
}

.disabled{
	opacity: 0.3;
}
h1, h2, h3, h4, h5, h6 {font-weight: 200; line-height: 1.1em;  margin-top: 20px; color: $CinzaExfar;}
h1 {font-size:2.50em; margin-bottom:10px;}
h2 {font-size:2.25em; margin-bottom:10px;}
h3 {font-size:2.00em; margin-bottom:10px;}
h4 {font-size:1.75em; margin-bottom:10px;}
h5 {font-size:1.50em; margin-bottom:10px;}
h6 {font-size:1.25em; margin-bottom:10px;}

.page-content{
	padding-bottom: 40px;
	strong{
		color: $VermelhoExfar;
		@include transitions;
	}
	a{
		color: $VermelhoExfar;
		&:hover, &:hover strong{
			color: darken($VermelhoExfar,5%) !important;
		}
		&.vermelho:hover{
			color:lighten($Vermelho,20%)
		}
		&.bt-principal,&.bt-sec{
			color: #fff !important;
			&:hover{
				color: #fff !important;
			}
		}
	}
}
.page-content-form{
	margin-top: 50px;
}
.page-title{
	h1{
		margin-top: 40px;
	}
}

.excerpt{
	font-weight: 200;
}
.center{
	text-align: center;
}

form{
	ol{
		li{
			&:before{
				display: none;
			}
			label{
				width: 100%;
				display: block;
				font-family: $Ubuntu;
				font-size: 1rem;
				margin-bottom: 7px;
			}
			input [type="text"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"],  input[type="date"], input[type="date-time"], input[type="url"], select, textarea{
				width: 100%;
				display: block;
				padding: 10px;
				min-height: 50px;
				font-size: 1rem;
				font-family: $Ubuntu;
				@include borderRadius2;
			}
			textarea{
				height: 200px;
			}
			input[type="checkbox"].left{
				float: left;
				margin: 7px 5px 0 0;
			}
			&.erro {
				label{
					color: $Vermelho;
				}
				input{
					border-color: $Vermelho;
				}
			}
		}
	}
	input [type="text"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"],  input[type="date"], input[type="date-time"], input[type="url"], select, textarea{
		border: solid 1px rgba($Cinza,0.4);
		font-family: $Ubuntu;
		color: rgba($Cinza,1);
		&:focus{
			outline: none;
	    	border: solid 1px rgba($Azul,0.25);
		}
		&::-webkit-input-placeholder{
			color: rgba($Cinza,0.5);
		}
		&::-moz-placeholder{
			color: rgba($Cinza,0.5);
		}
		&:-ms-input-placeholder {
			color: rgba($Cinza,0.5);
		}
		&:-moz-placeholder {
			color: rgba($Cinza,0.5);
		}
	}
	legend{
		display: block;
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 2em;
		font-weight: 200;
		color: $VermelhoExfar;
	}
	textarea{
		line-height: 1.5em;
		max-width: 	100%;
		font-family: ubuntu;
		color: $Cinza;
		max-width: 100%;
	}
	button, input[type="submit"]{
		@include transitions;
	}
	fieldset{
		margin-top: 50px;
		border-bottom: solid 1px rgba($Cinza, 0.3);
		padding-bottom: 20px;
		&:last-child{
			border-bottom: 0;
		}
	}
	.msg-erro {
		font-size: $Smaller;
		font-weight: 800;
		text-transform: uppercase;
		background: $Vermelho;
		color: #fff;
		padding: 0 5px;
		display: none;
		margin-top: 0px;
		text-align: center;
		height: 0;
		overflow: hidden;
		@include borderRadius2;
		@include transitions;
		&.big{
			font-size: $Small;
			padding: 10px 30px;
			margin: 20px 0;
			height: auto;
			display: block;
		}
	}
	.erro .msg-erro{
		height: auto;
		display: block;
		padding: 5px;
	}
}
.dragdrop-area{
	padding: 30px 20px 20px;
	text-align: center;
	border: dashed 4px rgba($Cinza,0.3);
	small{
		display: block;
		text-transform: uppercase;
		font-weight: 800;
		color: rgba($Cinza,0.6);
	}
	&.active{
		border: dashed 4px #e30a0a;
	}
}
.col-group{
	font-size: 0;
	padding: 0;
	margin-left: -1.5%;
}
.col-1,
.col-2,
.col-3,
.col-2-3,
.col-4,
.col-3-4,
.col-5,
.col-2-5,
.col-3-5,
.col-4-5,
.col-6{
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	padding: 0 1.5% 30px;
}

.col-1{ width: 100%; }
.col-2{ width:50%; }
.col-3{ width:33.33%; }
.col-2-3{ width:66.66%; }
.col-4{ width:25%; }
.col-3-4{ width:75%; }
.col-5{ width:20%; }
.col-2-5{ width:40%; }
.col-3-5{ width:60%; }
.col-4-5{ width:80%;}
.col-6{ width:16.66%; }

.bt-principal{
	display: inline-block;
	padding: 10px 15px;
	margin: 20px 0;
	color: #fff;
	font-weight: 700;
	font-family:$Ubuntu;
	border: 0;
	text-decoration: none;
	cursor: pointer;
	background: $Laranja;
	position: relative;
	@include borderRadius;
	@include transitions;
	@include gradienteLaranja;
	&:hover{
		color: #fff !important;
		background: darken($Laranja,5%);
		border-color: darken($Laranja,7%);
	}
}
.bt-sec{
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0)), color-stop(49, rgba(255,255,255,0)), color-stop(50, rgba(255,255,255,0.05)), color-stop(100, rgba(255,255,255,0.1)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	padding: 10px 15px;
	margin: 20px 0;
	color: #fff !important;
	font-weight: 700;
	font-family:$Ubuntu;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	background-color: $VermelhoExfar;
	border-color: $VermelhoExfar;
	@include borderRadius;
	@include transitions;
	&.splog{
		border-color: #5da68e;
		text-shadow: 0px 1px 5px #5da68e;
		background-color: #5da68e;
		color: #fff !important
	}
	&.mglog{
		border-color: #bf262c;
		text-shadow: 0px 1px 5px #bf262c;
		background-color: #bf262c;
		color: #fff !important
	}
	&.medicar{
		border-color: #1f3f7b;
		text-shadow: 0px 1px 5px #1f3f7b;
		background-color: #1f3f7b;
		color: #fff !important
	}
	&:hover{
		color: #fff !important;
		background-image: none;
	}
}

.afterclear:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}

/* ICONFONT  *************************************/

@font-face {
  font-family: "grupomed";
  src:url("fonts/grupomed.eot");
  src:url("fonts/grupomed.eot?#iefix") format("embedded-opentype"),
    url("fonts/grupomed.woff") format("woff"),
    url("fonts/grupomed.ttf") format("truetype"),
    url("fonts/grupomed.svg#grupomed") format("svg");
  font-weight: normal;
  font-style: normal;

}
[class^="icon-"]{
	position: relative;
}
[data-icon]:before {
  font-family: "grupomed" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "grupomed" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;

}
[class^="icon-"]:after,
[class*=" icon-"]:after {
	font-family: "grupomed" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.icon-busca:before { content: "\61";}
.icon-carrinho-1:before { content: "\62"; }
.icon-carrinho-1:after { content: "\63";}
.icon-chat-1:before { content: "\64"; }
.icon-chat-1:after { content: "\65"; }
.icon-cliente-1:before { content: "\66";}
.icon-cliente-1:after { content: "\67";}
.icon-estoque-1:before { content: "\68";}
.icon-estoque-2:before { content: "\69";}
.icon-export:before { content: "\6a";}
.icon-export:after { content: "\6b";}
.icon-fechar:before { content: "\6c";}
.icon-fechar-small:before { content: "\6d"; font-size: 0.8em; color: rgba($Cinza,0.5);}
.icon-filiais-1:before { content: "\6e";}
.icon-filiais-1:after { content: "\6f";}
.icon-grade:before { content: "\70";}
.icon-lista:before { content: "\71";}
.icon-menu-1:before { content: "\72";}
.icon-menu-1:after { content: "\73";}
.icon-pedidos-1:before { content: "\74";}
.icon-pedidos-1:after { content: "\75";}
.icon-prazo-1:before { content: "\76";}
.icon-prazo-1:after { content: "\77";}
.icon-print-1:before { content: "D";}
.icon-print-1:after { content: "E";}
.icon-seta:before { content: "\78";}
.icon-config:before { content: "\79";}
.icon-central-atendimento:before { content: "\7a"; }
.icon-mail:before { content: "\41"; }
.icon-suporte-ti:before { content: "\42"; }
.icon-televendas:before { content: "\43"; }

/* TOPO  *************************************/
header{
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	max-height: 143px;
	@include transitions;
	@include boxShadow;
	.ferramentas-topo{
		float: right;
		width: 310px;

		> ul {
			>li {
				display: inline-block;
				line-height: 1em;
				vertical-align: middle;
				padding: 20px 0 10px;
				position: relative;
				/* ÍCONES */
				[class*=" icon-"],[class^="icon-"]{
					float: left;
					font-size: 25px;
					margin-right: 5px;
					.alert{
						position: absolute;
						display: block;
						font-size: 8px;
						font-weight: 800;
						text-align: center;
						width: 16px;
						height: 16px;
						line-height: 16px;
						border-radius: 9px;
						background: $Laranja;
						color: #fff;
						top:-11px;
						right: -5px;
					}
				}

				[class*=" icon-"]:before,[class^="icon-"]:before{
					color: $VermelhoExfar;
				}
				[class*=" icon-"]:after,[class^="icon-"]:after{
					color: $CinzaExfar;
				}
				> a .texto {
					font-size: 10px;
					font-weight: bold;
					line-height: 10px;
					display: block;
					vertical-align: middle;
					color: $CinzaExfar;
					strong{
						font-size: 16px;
					}
				}
				&.area-cliente{
					width: 76px;
					text-transform: uppercase;
					ul{
						min-width: 250px;
						left: 0;
						text-transform: none;
						font-size: $Small;
						li{
							a{
								color: $Cinza;
								display: block;
								padding: 7px 20px;
								&:hover{
									background: $CinzaExfar;
									color: #fff;
								}

							}
							form{
								padding: 20px 20px 0 20px;
							}
							label{
								margin-bottom: 10px;
								font-size: $Small;
								display: block;
								color: $VermelhoExfar;
							}
							select{
								width: 100%;
							    padding: 5px;
							    margin-bottom: 10px;
								font-size: 8pt;
							}
							#filial-topo {
								width: 100%;
								padding: 5px;
								margin-bottom: 10px;
								font-size: 8pt;
							}
						}
					}
				}
				&.prazo{
					width: 84px;
					>a .texto{
						line-height: 13px;
						top: -2px;
						position: relative;
						strong{
							position: relative;
							top: 2px;
						}
					}
					.icon-prazo-1{
						top: 3px;
					}
					ul{
						min-width: 250px;
						left: 0;
						right: unset;
						padding: 20px;
						font-size: $Small;
						span{
							display: block;
							margin-top: 5px;
						}
						label{
							margin-bottom: 10px;
							font-size: $Small;
							display: block;
							color: $CinzaExfar;
						}
						select{
							width: 100%;
						    padding: 5px;
						    margin-bottom: 10px;
						}
						strong{
							color: $VermelhoExfar;
						}
					}
				}
				&.carrinho{
					width: 127px;
					>a .texto{
						line-height: 25px;
						top: -2px;
						position: relative;
						strong{
							position: relative;
							top: 2px;
						}
					}
					ul{
						width: 390px;
						.icon-fechar-small{
							font-size: 0.7em;
							&:before{color: rgba($Cinza,0.5);}
						}
					}
				}
				ul{
					visibility: hidden;
					opacity: 0;
					height: 0;
					overflow: hidden;
					position: absolute;
					top: 50px;
					right: 0;
					background: #fff;
					@include boxShadow;
					@include transitions;
				}
				&:hover ul{
					display: block;
					visibility: visible;
					height: auto;
					opacity: 1;
					z-index: 999999;
				}
				&.erro{
					>a .texto{
						color: $Vermelho;
					}
					[class*=" icon-"]:before,[class^="icon-"]:before, [class*=" icon-"]:after,[class^="icon-"]:after{
						color: $Vermelho;
					}
					.alert{
						background: $Vermelho;
					}

				}
			}
		}
	}
	.busca-form{
		width: auto;
		margin-left: 220px;
		margin-right: 330px;
		padding: 10px 0;
	}
	/* TABELAS TOPO */
	form{
		font-size: 1rem;
		.tabela-produtos{
			width: 100%;
			font-size: 0.815rem;
			tr:nth-child(2n){
				background: transparent;
			}
			td{
				vertical-align: middle;
				padding: 10px 5px;
				.bt-principal{
					float: right;
					margin: 0;
				}
				&.desc-prod {
					font-size: 10px;
				}
				&.col-valor{
					width: 20%;
					text-align: right;
				}
				&.col-qtd{
					width: 102px;
				}
				.preco{
					font-size: 1.00em;
					color: $Laranja;
				}
				.icon-fechar-small{
					cursor: pointer;
				}

			}
			tfoot{
				background: rgba($Cinza,0.1);
				border-top: solid 1px rgba($Cinza,0.05);
				td{
					padding: 10px 10px 20px 10px;
					font-size:0.815em;
					a.bt-principal {
						-webkit-appearance: push-button;
						user-select: none;
						white-space: pre;
						align-items: flex-start;
						text-align: center;
						font-weight: bold;
						font-size: 1.26em;
					}
				}
			}
			tbody {
				width: 100%;
				display: table-caption;
				max-height: 260px;
				overflow: auto;
				&.empty {
					tr {
						display: block;
						width: 100%;
						td {
							display: block;
							width: 100%;
							border-bottom: none;
							height: 110px;
							text-align: center;
							line-height: 100px;
						}
					}
				}
			}

		}
	}
}
.busca-form{
	width: 100%;
	form{
		position: relative;
		height: 40px;
		#busca-topo{
			width: 100%;
			padding: 10px 50px 10px 5px ;
			font-style: italic;
			height: inherit;
			background: rgba($Cinza, 0.1);
			@include borderRadius;
		}
		button.bt-busca{
			position: absolute;
			top: 3px;
			right: 0;
			height: inherit;
			width: 40px;
			font-size: 18px;
			color: rgba($Cinza,0.5);
			background: none;
			border: 0;
			cursor: pointer;
			span{
				font-size: 0;
				text-indent: 9000px;
				display: block;
			}
		}
	}
	.form-floater{
		background: #fff;
		width: 100%;
		min-width: 600px;
		padding: 0 10px;
		display: none;
		visibility: hidden;
		opacity: 0;
		z-index: 1000;
		position: absolute;

		@include transitions;
		@include boxShadow;
	}
	&:hover .form-floater{
		display: none;
		visibility: visible;
		opacity: 1;
	}
	.toggle-busca-avancada {
		position: absolute;
		top: 6px;
		right: 37px;
		font-size: 1.5rem;
		color: rgba($Cinza,0.6);
		cursor: pointer;
		> span.alert {
			position: absolute;
			display: none;
			font-size: 11px;
			font-weight: 800;
			text-align: center;
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 9px;
			background: #f95a1d;
			color: #fff;
			top: -3px;
			right: -6px;
		}
	}
}
.busca-avancada{
	position: absolute;
	z-index: 900;
	top: 40px;
	left: 0;
	width: 100%;
	padding: 10px 30px 0px 30px;
	background: #fff;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	@include boxShadow;
	@include transitions;
	&.open{
		height: auto ;
		visibility: visible	;
		opacity: 1;
	}
	li label{
		font-size: $Small;
	}
	input[type="text"]{
	    min-height: 30px;
	    font-size: $Small;
	}
	.bt-principal{
		margin: 0;
		font-size: $Small;
	}
	a{
		font-size: $Small;
	}

}
.menu-sec{
	background: $CinzaExfar;
	opacity: 1;
	visibility: visible;
	height: auto;
	.wrapper{
		padding: 0 !important;
	}
	ul > li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		font-size: $Small;
		> a{
			color: #fff;
			padding: 10px 15px;
			display: block;
			border: solid 2px rgba($VermelhoExfar,0.0);
			&:hover{
				background: darken($VermelhoExfar,5%);
				border: solid 2px darken($VermelhoExfar,5%);
				color: #fff !important;
			}
		}
		ul{
			display: block;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 43px;
			left: 0;
			height: 0;
			@include transitions;
		}
		&:not(.oferta-relampago):hover ul{
			visibility: visible;
			opacity: 1;
			height: auto!important;
			overflow: hidden;
		}
	}
}
.oferta-relampago {
	background: $Laranja;
	> a{
		@include gradienteLaranja;
		&:hover{
			background: $Laranja !important;
			border-color: $Laranja !important;
			color: #fff!important;
		}
	}
	ul{
		background: darken($Laranja,7%);
		width: 600px;
		font-size: 0;
		@include boxShadow;
		span, a, strong{
			color: #fff;
		}
		.miniatura{
			width:50%;
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
		}
		.descricao{
			width:50%;
			font-size: 1rem;
			display: inline-block;
			height: 300px;
			vertical-align: top;
			padding: 45px;
			text-align: center;
			h3{
				font-size: $h6;
			    margin-top: 0;
				margin-bottom: 10px;
				text-align: left;
			}
		}
		.desconto{
			left: 240px;
			top: 107px;
		}
		.qtd .qtd-btn{
			color: #fff;
		}
		.bt-principal:hover{
			background: #f9a11d;
			border-color: #f9a11d;
		}
	}
	&.open ul{
		visibility: visible;
		opacity: 1;
		height: auto!important;
		overflow: hidden;
	}

}
.site-branding{
	float: left;
	width: 200px;
	h1.site-title {
		display: inline-block;
		vertical-align: middle;
		margin:0 10px 0 0;
		background: url(images/logo_exfar.png) no-repeat center;
		background-size: contain;
		@include transitions;

		a{
			display: inline-block;
			width: 160px;
			height: 55px;
			text-decoration: none;
			span{
				text-indent: -9000px;
				display: block;
				height: inherit;
			}
		}
	}
	.distribuidoras{
		display: inline-block;
		vertical-align: -8px;
		margin: 0;
		.distribuidora{
			width:102px;
			height: 27px;
			display: inline-block;
			span{
				text-indent: -9000px;
				display: block;
				height: inherit;
			}
		}
		.splog{ background: url(images/logos_distribuidoras_splog.svg) no-repeat left center; }
		.medicar{ background: url(images/logos_distribuidoras_medicar.svg) no-repeat left center; }
		.vazmed{ background: url(images/logos_distribuidoras_vazmed.svg) no-repeat left center; width: 90px;}
		.mglog{ background: url(images/logos_distribuidoras_mglog.svg) no-repeat left center; }
		.mundimed{ background: url(images/logos_distribuidoras_mundimed.svg) no-repeat left center; height: 30px; width: 75px; }
		.canedo{ background: url(images/logos_distribuidoras_canedo.svg) no-repeat left center; }
	}
}
header.alt{
	max-height: 70px;
	.wrapper{
		padding: 0 20px;
	}
	.site-branding{
	    height: 70px;
	    padding-top: 10px;
		.site-title{
			height: 40px;
		}
		.distribuidoras{
			vertical-align: -4px;
		}
	}
	@include transitions;
	.menu-sec{
		height: 0;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
	}
}

.menu-social {
	text-align: center;	padding: 20px 0;
	li{
		display: inline-block;
		text-indent: -9000px;
		overflow: hidden;
		a{
			display: block;
			width: 40px;
			height: 40px;
			//background: url(images/social-icons.png) no-repeat;
		}
		&.facebook a{ackground-position: 0 0 ;}
		&.instagram a{background-position: -45px 0;}
		&.contato a{background-position: -90px 0;}
	}
}
header nav.menu-principal .wrapper > ul.menu-idiomas{
	text-align: center;
	li {
		display: inline-block;
		width: 40px;
			height: 40px;
		a{
			display: block;
			border: solid 1px #fff;
			font-size: 0.85em !important;
			line-height: 40px;
			text-align: center;
			padding:0;
		}
	}
}
.owl-item{
	display: inline-block;
}
/* BANNER  *************************************/

#banner-principal{
	width: 100%;
	//max-width: 1320px;
	margin: 0 auto;
	height: 36.6vw;
	overflow: hidden;
	position: relative;
	img{
		width: 100%;
		max-width: unset;
	}
	.owl-nav .owl-prev,	.owl-nav .owl-next{
		top: 0;
		&:before{
			line-height: 36.9vw;
		}
	}
}
.owl-nav .owl-prev,	.owl-nav .owl-next{
	position: absolute;
	width: 40px;
	display: block;
	cursor: pointer;
	opacity: 0.8;
	font-size: 0;
	top: calc(50% - 36px);
	&:hover{
		opacity: 1;
		@include transitions;
	}
	&:before{
		font-family: grupomed;
		content: "\78";
		text-indent: 9000px;
		font-size: 3rem;
		color: #fff;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

}
.owl-nav .owl-prev{
	left: 0;
	transform: rotate(180deg);
	&:hover{
		left: -3px;
	}
}
.owl-nav .owl-next{
	right: 0;

	&:hover{
		right: -3px;
	}
}
.owl-dots{
	position: absolute;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
}
.owl-dot{
	display: inline-block;
	margin: 10px 4px;
	span{
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		border: solid 1px #fff;
	}
	&.active span{
		background: #fff;
	}
}

#banner-secundario{
	background: rgba($Cinza,0.1);
	border-top: solid 1px rgba($Cinza,0.3);
	border-bottom: solid 1px rgba($Cinza,0.3);
	padding: 20px;
	.banner-content{
		max-width: 949px;
		overflow: hidden;
		margin: 0 auto;
		height: 200px;
    	overflow: hidden;
    	img{
    		margin: 0 auto;
    	}
		.owl-nav, .owl-dots{
			display: none;
		}
	}
}
/* PRODUTOS  *************************************/
body.home .produtos-content{
	padding: 80px 0;
}
.produtos-content{
	padding: 30px 0 50px;
    overflow: hidden;
    height: auto;
	.wrappper{
		position:relative;
		max-width: 990px;
		padding: 0 20px;
		margin: 0 auto;
		background: #fff;
		&.fullscreen{
			max-width: 100%;
		}
		.loading {
			background-color: #ecececa8;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999;
			padding: 0 20px;
			margin: 0 auto;
		}
	}
	.wrappper-cart{
		position:relative;
		max-width: 1360px;
		//max-width: 990px;
		padding: 0 20px;
		margin: 0 auto;
		background: #fff;
		&.fullscreen{
			max-width: 100%;
		}
		.loading {
			background-color: #ecececa8;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999;
			padding: 0 20px;
			margin: 0 auto;
		}
		table {
			thead {
				&.empty {
					display: none;
				}
			}
			tfoot {
				&.empty {
					display: none;
				}
			}
			tbody {
				&.empty {
					width: 100%;
					display: table-caption;
					max-height: 260px;
					overflow: auto;
					tr {
						display: block;
						width: 100%;
						td {
							display: block;
							width: 100%;
							border-bottom: none;
							height: 110px;
							text-align: center;
							line-height: 100px;
							font-size: 25px;
						}
					}
				}
			}
		}
	}
	> h1{
		margin-bottom: 50px;
		margin-top: 0;
	}
	.produtos-list{
		font-size: 0;
		li{
			display: inline-block;
			font-size: 1rem;
			vertical-align: top;
			position: relative;
			height: 370px;
			padding-bottom: 40px;
			h3{
				font-size: 1em;
				height: 51px;
				font-weight: 400;
				overflow: hidden;
				margin: 0 0 10px;
				a{
					color: $Cinza;
				}
			}
			.miniatura{
				margin-bottom: 10px;
			}
			.preco-disabled{
				color:$Azul;
				font-size: $Small;
				text-decoration: line-through;
			}
			.preco{
				color: $Laranja;
				font-size: 1.00em;
			}
			button.bt-principal{
				position: absolute;
				width:100%;
				margin: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			&:hover h3 a{
				color: $Azul;
			}
		}
	}
	&.grid4{
		.produtos-list li{
			margin-right: 50px;
			margin-bottom: 50px;
			width: 200px;
			&:nth-child(4n){
				margin-right: 0;
			}
			h3{
				font-size: 1em;
				max-height: 51px;
			}
			.desconto{
				top: -20px;
				right: -20px;
				@include transitions;
			}
			&:hover .desconto{
				top: -25px;
			}
		}

	}
	&.grid5{
		padding-top: 0 !important;
		>h1{
			font-size: 1.85em;
			margin-top: 40px;
		}
		&.slider{
			background: rgba($Cinza, 0.1);
			border-top: solid 1px rgba($Cinza,0.3);
			border-bottom: solid 1px rgba($Cinza,0.3);
		}
		.wrappper{
			position: relative;
			padding: 0 30px;
			text-align: center;
			border-radius: 5px;
    		border: solid 1px rgba($Cinza,0.3);
    		margin-bottom: 30px;
		}
		.produtos-list {
			overflow: hidden;
			height: auto;
			li{
				padding-top: 80px;
				margin-right: 15px;
				margin-left: 15px;
				margin-bottom: 50px;
				width: 150px;
				height: 420px;
				.nome-produto{
					font-size: 0.9em;
					height: 32px;
				}
				.desconto{
					top: 20px;
					right: -15px;
					@include transitions;
				}
				.bt-principal{
					font-size: 0.7em;
				}
				&:hover .desconto{
					top: 15px;
				}
			}
		}
		.owl-nav .owl-prev,	.owl-nav .owl-next{
			&:before{
				text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
				color: lighten($Cinza,30%);
			}

		}
		.owl-dot{
			span{
				border: solid 2px lighten($Cinza,30%);
			}
			&.active span{
				background: lighten($Cinza,30%);
			}

		}
	}
}

.produtos-list{
	ul{
		font-size: 0;
		li{
			display: inline-block;
			font-size: 	1rem;
		}
	}
	.precos {
		display: inline-block;
		width: 100px;
		vertical-align: bottom;
		span{
			display: block;
			line-height: 1.2em;
		}
	}
	.qtd{
		display: inline-block;
		vertical-align: bottom;
		margin-top: 12px;
	}
}
.desconto{
	width: 85px !important;
	height: 85px;
	text-align: center;
	padding: 10px;
	border-radius: 50%;
	font-weight: 800;
	line-height: 1em;
	position: absolute;
	color: #fff;
	text-shadow: 0px 1px 5px rgba($Vermelho,0.5);
	//background-image: -ms-radial-gradient(center, ellipse farthest-corner, #fb8942 0%, #F16D1B 100%);
	//background-image: -moz-radial-gradient(center, ellipse farthest-corner, #fb8942 0%, #F16D1B 100%);
	//background-image: -o-radial-gradient(center, ellipse farthest-corner, #fb8942 0%, #F16D1B 100%);
	//background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #fb8942), color-stop(100, #F16D1B));
	//background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #fb8942 0%, #F16D1B 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #fb8942 0%, #F16D1B 100%);
	strong{
		font-size:$h5;
		display: block;
		line-height: 1.10em;
		padding: 0;
	}
	span{
		font-size: $Smaller;
		display: block;
		line-height: 1.10em;
		padding: 0;
	}
	&.hot{
		//background-image: -ms-radial-gradient(center, ellipse farthest-corner, #f4643f 0%, #EB2A21 100%);
		//background-image: -moz-radial-gradient(center, ellipse farthest-corner, #f4643f 0%, #EB2A21 100%);
		//background-image: -o-radial-gradient(center, ellipse farthest-corner, #f4643f 0%, #EB2A21 100%);
		//background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #f4643f), color-stop(100, #EB2A21));
		//background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #f4643f 0%, #EB2A21 100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #f4643f 0%, #EB2A21 100%);
	}
}
.valign-container{
	display: table;
	.valign{
		display: table-cell;
		vertical-align: middle;
	}
}
.qtd{
	input{
		width: 40px;
		height: 30px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		@include borderRadius;

	}
	.qtd-btn{
	    width: 13px;
	    height: 17px;
	    display: inline-block;
	    line-height: 15px;
	    text-align: center;
	    font-weight: 800;
	    vertical-align: middle;
	    cursor: pointer;
	    border-radius: 50%;
	    color: rgba($Cinza,0.5);
	    margin: 5px;
	    &:hover{
	    	background: rgba($Cinza,0.1);
	    }
	}
}
.preco{
	font-weight: bold;
	strong{
		font-size: 1.6em;
		position: relative;
		top: 2px;
		margin: 0 2px;
	}
}
input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  display: none;
}
.produtos-tools {
	padding: 0 20px;
	max-width: 990px;
	margin: 0 auto;
	&.fullscreen{
		max-width: 100%;
	}
	.other-tools{
		margin: 15px 0 30px;
		form{
			float: left;
			width: 200px;
			select{
				height: 30px;
				display: block;
				width: 100%;
			}
		}
		span{
			font-size: 13px;
			display: inline-block;
			vertical-align: middle;
		}
		.legenda{
			float: right;
			[class^="icon-"]:before,
			[class*=" icon-"]:before{
				display: inline-block;
				vertical-align: middle;
			}
			.icon-lista, .icon-grade, .icon-export{
				font-size: 2rem;
				line-height: 1rem;
				width: 25px;
				color: rgba($Cinza, 0.75);
				&:hover:before,&:hover:after{
					color: $Azul;
				}
			}
		}
	}
}
.estoque{
	&.critico {
		color: $Vermelho;
		.icon-estoque-1:before{
			transform: rotate(180deg);
		}
	}
	&.moderado {
		color: $Laranja;
	}
	&.excelente{
		color: $Turquesa;
	}
	[class^="icon-"],
	[class*=" icon-"]{
		&:before{
			font-size: 1rem;
			margin: 0 5px 0 10px;
		}
	}
}
.pagination{
	float: left;
	li{
		display: inline-block;
		a{
			display: inline-block;
			padding: 0 15px;
			line-height: 50px;
			background: rgba($Cinza, 0.5);
			min-width: 50px;
			text-align: center;
			font-weight: 800;
			color:#fff;
			@include textShadow;
			@include borderRadius2;
			@include transitions;
		}
		&.active a, &:hover a{
				background:$Laranja;
				color:#fff !important;
			}
	}
}
/* PRODUTOS TABLE VIEW *************************************/
.produtos-content.table-view {
	.busca-form{
		max-width: 990px;
		margin: 0 auto;
	}
	.other-tools{
		margin: 10px 0;
	}
	hr{
		margin: 20px 0 15px;
	}

}

table{
	font-size: 12px;
	background: #fff;
	thead {
		th{
			background: $CinzaExfar;
			color: #fff;
			vertical-align: middle;
			padding: 10px;
			font-weight: 800;
			&:last-child{
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;
			}
			&:first-child{
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
			}
		}
	}
	th, td{
		text-align: left;
		border-bottom: solid 1px lighten($Cinza,35%);
		vertical-align: middle;
		&.center{
			text-align: center;
		}
		&.right{
			text-align: right;
		}
	}
	td{
		padding: 7px;
		position: relative;
	}
	tr{
		&:nth-child(2n){
			background: rgba($Cinza,0.08);
		}
		&.hot{
			background: rgba($Laranja,0.08);
		}
		&:hover{
			background: rgba($Azul,0.08);
		}
		td:first-child, th:first-child{
			padding-left: 10px;
		}

	}

	.qtd input{
		height: 25px;
		width: 25px;
	}
	tfoot td{
		padding: 10px;
		background: rgba($Cinza,0.2);
		font-size: 1.2rem;
		font-weight: 800;
		text-align: right;
	}
}
/* MÍDIA *************************************/
.midia{
	background: #1f1f1f;
	font-size: 0;
	padding: 30px;
	.video, .catalogo{
		font-size: 1rem;
		width: 47.5%;
		display: inline-block;
		vertical-align: top;
		margin-right:5%;
		h4 a{
			color: $VermelhoExfar;
			margin-top: 0;
			display: block;
		}
	}
	.video{
		margin-right: 0;
	}
	.embed-responsive{
		position: relative;
		padding-bottom: 56.2061%;
		height: 0;
		overflow: hidden;
		iframe{
			position: absolute !important;
			top: 0  !important;
			left: 0  !important;
			width: 100%  !important;
			height: 100%  !important;
		}
	}

}


/* PAGINAS *************************************/
.pagina .entry-title .wrapper, .pagina .entry-content .wrapper, .post-view .entry-title .wrapper, .post-view .entry-content .wrapper{
	max-width: 810px;

}
.pagina .entry-title .wrapper{
	padding: 20px;
}
.pagina.comfort{
	.entry-title{

		.miniatura{
			float: right;
			position: relative;
			margin-right: -40px;
			bottom: -20px;
		}
		h1{
		    text-indent: -9000px;
		    //background: url(images/cabeçalho-pagina-comfort.png) no-repeat top left ;
		    margin-top: 0;
		    height: 219px;
		    width: 219px;
		    margin-bottom: 0;
		    display: inline-block;

 		}

	}
}
.pagina.sobre .entry-title, .pagina.representantes .entry-title{
	min-height: 250px;
	.miniatura{
		float: right;
		position: relative;
		margin-right: -40px;
	}
	h1{
		margin-bottom: 0;
	}
}

.pagina.contato{
	.entry-title .wrapper{
		padding-bottom: 0;
	}
	.entry-content .wrapper{
		padding-top: 0;
	}
}

/* LOJA PERSONALIZADA *************************************/
body.loja-personalizada{
	background: url(images/dinamico/banners/fundo_loja-personalizada.jpg) repeat center;
	.produtos-content{
		background: #fff;
		max-width: 1200px;
		margin-left:auto;
		margin-right:auto;
	}
}
/* AREA CLIENTE *************************************/
body.area-cliente, body.area-representante{
	.area-cliente-container{
		font-size: 0;
		position: relative;
		min-height: 500px;
		.lateral{
			display: inline-block;
			background: rgba($Cinza, 0.07);
			vertical-align: top;
			width: 190px;
			font-size: 1rem;
			padding: 30px 0;
			border-right: solid 1px rgba($Cinza,0.25);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			li {
				position: relative;
				margin-bottom:7px;
				a{
					padding: 15px 10px 15px 50px;
					display: block;
					line-height: 1em;
					font-size: $Small;
					position: relative;
					left: 1px;
					border-top: solid 1px rgba($Cinza,0);
					border-bottom: solid 1px rgba($Cinza,0);
					&:hover{
						background: #fff;
						border-top: solid 1px rgba($Cinza,0.25);
						border-bottom: solid 1px rgba($Cinza,0.25);
					}
				}
				&.active a{
					background: #fff;
					border-top: solid 1px rgba($Cinza,0.25);
					border-bottom: solid 1px rgba($Cinza,0.25);
				}
				&.area-cliente:before{
					content:"";
					display: block;
					width:25px;
					background: url(images/area-cliente.png) center no-repeat;
					background-size: contain;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 15px;
					z-index: 900;
				}
				&.chat-representante span{
					top: 15px;
				}
				span{
					position: absolute;
					display: inline-block;
					top: 10px;
					left: 15px;
				    line-height: 1em;
				    font-size: 1.75em;
				    z-index: 900;
				    &:before{
				    	color: $VermelhoExfar;
				    }
				    &:after{
				    	color:$CinzaExfar;
				    }
				}
			}
		}
		.content{
			display: inline-block;
			font-size: 1rem;
			padding-left: 190px;
			width: 100%;
			.area-cliente-atalhos{
				font-size: 0;
				margin-bottom: 50px;
				li{
					font-size: 1rem;
					line-height: 1em;
					display: inline-block;
					vertical-align: top;
					width:25%;
					padding: 0 10px;
					text-align: center;
					span{
						display: block;
						line-height: 1em;
						font-size: 4em;
						margin: 0 auto;
						width: 60px;
						&:before{
				    		color: $VermelhoExfar;
					    }
					    &:after{
					    	color:$CinzaExfar;
					    }
					}
				}
			}
			.produtos-tools{
				padding: 0;
			}
		}
		table {
			tr {
				span{
					font-size: 	1.75rem;
					color: rgba($Cinza,0.5);
					cursor: pointer;
			    	line-height: 1em;
			    	&.estoque, &.estoque span{
						cursor: default;
					}

				}
				strong{
					font-size: 1rem;
				}
				&:hover span{
					&:before{
			    		color: $Azul;
					}
					&:after{
						color:$Laranja;
					}
				}

			}
		}
	}
	.produtos-tools {
		margin-bottom: 20px;
		.other-tools form select{
			margin-bottom: 0;
		}
	}
}
/* Personalizações Meus Pedidos  */
body.area-cliente, body.area-representante{
	.faturas-hidden{
		height: 0;
		overflow: hidden;
		>td{
			padding:0;
			border: 0;
			display: none;
		}

		&.open{
			height: auto;
			>td{
				padding:15px;
				border-bottom: solid 1px lighten($Cinza,35%);
				display: table-cell;
				background: lighten($Cinza,35%);
			}
			>div{
				padding:15px;
				background: lighten($Cinza,35%);
			}
			th{
				background: $CinzaExfar;
				&:last-child{
					-webkit-border-top-right-radius: 0px;
					-moz-border-radius-topright: 0px;
					border-top-right-radius: 0px;
				}
				&:first-child{
					-webkit-border-top-left-radius: 0px;
					-moz-border-radius-topleft: 0px;
					border-top-left-radius: 0px;
				}
			}
		}
	}
	.info-pedido {
	    display: inline-block;
	    width: 400px;
	    vertical-align: top;
	    font-size: 0;
	    line-height: 24px;
	    margin-right: 20px;
	    margin-top: 30px;
	    .left, .right{
	    	font-size: 0.8rem;
	    	color: $Cinza;
	    	display: inline-block;
	    	width: 140px;
	    	vertical-align: top;
	    }
	    .preco, .preco strong{
	    	font-weight: 400;
	    	color: $Cinza;
	    }
	}
	.log-pedido{
		display: inline-block;
	    width: calc(100% - 425px);
	    vertical-align: top;
	    font-size: 0;
	    line-height: 24px;
	    margin-top: 30px;
	    .left{
	    	font-size: 0.8rem;
	    	color: $Cinza;
	    	display: inline-block;
	    	width: 140px;
	    	vertical-align: top;
	    }
	    .right{
	    	font-size: 0.8rem;
	    	color: $Cinza;
	    	display: inline-block;
	    	vertical-align: top;
	    	width: calc(100% - 150px);
	    }
	    .erro{
			color: $Vermelho;
		}
		.status-pedido{
			font-size: 17px;
			font-weight: 700;
		}

	}
	.meus-pedidos-footer{
		a{
			font-size: $Small;
		}
		.bt-principal{
			margin-top: 0 !important;
			margin-bottom: 0;
		}
	}

	ul.status{
		font-size: 0;
		margin-bottom: 20px;
		li{
			font-size: 0.815rem;
			width: 20%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			position: 	relative;
			font-weight: 800;
			color: rgba($Cinza,.5);
			&:before, &:after{
				content: "";
				display: block;
				width: 	50%;
				height:	2px;
				background: rgba($Cinza,.15);
				position: absolute;
				top: 25px;
				z-index: 900;
			}
			&:before{
				left:0;
			}
			&:after{
				right: 	0;
			}
			&:first-child:before, &:last-child:after{
				display: none;
			}

			span{
				display: block;
				padding: 0 10px;
				line-height: 44px;
				width: 50px;
				margin:0 auto;
				background: lighten($Cinza,45%);
				border: inset 2px rgba(0,0,0,0.05);
				color: rgba($Cinza,.5);
				position: 	relative;
				margin-bottom: 10px;
				z-index: 	950;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;

			}
			&.erro{
				color: $Vermelho;
				span{
					background: $Vermelho;
					color: #fff;
				}
			}
			&.ok{
				color: $CinzaExfar;
				span{
					background: $CinzaExfar;
					color: #fff;
				}
			}
		}
	}
}

/* Chat */
body.area-cliente, body.area-representante{
	.chat-header {
		margin: 20px 0;
		.nome-representante{
			font-size: 1.75em;
			font-weight: 700;
			display: inline-block;
			color: $Laranja;
			font-sty: italic;
			margin: 0;
		}
		ul {
			float: right;
			li{
				display: inline-block;
			}
		}
	}

	.page-content.chat{
		height: 500px;
		overflow-y: scroll;
		position: relative;
		.chat-nome{
			position: absolute;
			top: 0;
			left: 0;
			font-size:$Smaller;
		}
		.chat-data{
			@extend .chat-nome;
			left: unset;
			right: 0;

		}
		.content-message{
			background:  rgba($Cinza,0.1);
			border: solid 1px rgba($Cinza, 0.25%);
			padding: 20px 30px;
			font-size: $Small;
			-webkit-border-radius: 20px;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius: 20px;
			-moz-border-radius-topleft: 0;
			border-radius: 20px;
			border-top-left-radius: 0;
		}
		.chat-message-1{
			width: calc(100% - 50px);
			position: relative;
			padding-top: 20px;
			margin-top: 30px;
			margin-right: 30px;
		}
		.chat-message-2{
			@extend .chat-message-1;
			padding-right: unset;
			margin-left: 30px;
			.content-message{
				background: $Azul;
				-webkit-border-radius: 20px;
				-webkit-border-top-right-radius: 0;
				-moz-border-radius: 20px;
				-moz-border-radius-topright: 0;
				border-radius: 20px;
				border-top-right-radius: 0;
				color: #fff;
			}

		}
	}
	.chat-form{
		form{
			width: 100%;
			position: relative;
			textarea{
				width: 100%;
				min-height: 80px;
				padding: 15px 80px 15px 15px;
			}
			button{
				position: absolute;
				top: calc(50% - 25px);
				right: 15px;
				background: none;
				padding: 5px;
				height: 40px;
				border: 0;
				font-weight: bold;
				text-transform: uppercase;
				color:rgba($Cinza,0.75);
				font-size: $Small;;
				font-family: ubuntu;
				cursor: pointer;
				&:hover{
					color: $Laranja;
				}
			}
		}
	}
	.messages-list{
		border-bottom: solid 1px rgba($Cinza,.20);
		li{
			padding: 	15px;
			border-top: solid 1px rgba($Cinza,.20);
			border-left: solid 1px rgba($Cinza,.20);
			border-right: solid 1px rgba($Cinza,.20);
		}
		a{
			color:$Cinza;
		}
		.data{
			margin: 0;
		}
		.esquerda{
			.message-preview{
				display: 	block;
				max-height: 16px;
				overflow: 	hidden;
			}
		}
	}
}

/* FULLBANNER *************************************/
.fullbanner{
	margin: 30px auto;
	max-width: 950px;
	img {
		box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	}
}

/* RODAPÉ *************************************/
footer{
	background: #444444;

	clear: both;
	.wrapper{
		max-width: 990px;
		margin: 0 auto;
		padding: 20px;
		h1,h2,h3,h4,h5,h6{
			margin: 0;
		}
		*{
			color: #fff;
		}

	}
	.newsletter{
		background: #313131;
		.wrapper{
			height: 70px;
			padding: 0 20px;
			font-size: 0;
		}
		.icon-mail{
			font-size: 3rem;
			line-height: 1em;
			//float: left;
			color: $VermelhoExfar;
			margin-right: 10px;
			display: inline-block;
			vertical-align: top;
			&:before{
				top: -4px;
				position: relative;
			}
		}
		.content{
			display: inline-block;
		}
		.description{
			width: 505px;
			display: inline-block;
			vertical-align: middle;
			h3{
				font-size: 1rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $Laranja;
			}
			p{
				font-size: 0.8rem;
				margin: 0;
			}
		}
		#form-newsletter {
			display: inline-block;
			width:  385px;
			font-size: 0.8rem;
			vertical-align: middle;
			height: inherit;
			position: relative;
			input[type="text"]{
				height: inherit;
				width: 100%;
				padding:10px 40px 10px 10px;
				background: #252525;
				border: 0;
				font-size: 1rem;
				color: #fff;
				font-weight: 200;
				&::-webkit-input-placeholder{
					color: rgba(#fff,0.5);
				}
				&::-moz-placeholder{
					color: rgba(#fff,0.5);
				}
				&:-ms-input-placeholder {
					color: rgba(#fff,0.5);
				}
				&:-moz-placeholder {
					color: rgba(#fff,0.5);
				}
			}
			button{
				width: 40px;
				height: inherit;
				position: absolute;
				top: 0;
				right: 0;
				background: none;
				border: 0;
				font-size: 0;
				&:before{
					content: '\78';
					font-family: grupomed;
					font-size: 2rem;
					color: $VermelhoExfar;
				}
			}
		}



	}
	.footer-info{
		font-size: 0;
		.wrapper{
			padding-top: 0;
			padding-bottom: 0;
		}
		.footer-content{
			width: 27%;
			font-size: 0.8rem;
			display: inline-block;
			vertical-align: top;
			padding:40px 30px;
			border-left: solid 1px rgba($VermelhoExfar, 0.15);
			border-right: solid 1px rgba(0,0,0,0.2);
			height: 260px;
			&:first-child{
				width: 19%;
				padding-left: 0;
				border-left: 0;
			}
			&:last-child{
				padding-right: 0;
				border-right: 0;
			}
			[class^="icon-"]:before,
			[class*=" icon-"]:before {
				font-size: 3rem;
				color: $VermelhoExfar;
			}
			h3, h4{
				font-size: 1rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $Laranja;
				a{
					color: $VermelhoExfar;
				}
			}


		}
	}
	.site-branding{
		background: #fff;
		float: none;
		width: 100%;
		height: auto;
		padding: 30px 0;
		.site-title{
			display: block;
			margin: 0 auto;
		}
		.distribuidora{
			margin-right: 32px;
			&:last-child{
				margin-right: 0;
			}
		}
		.description{
			margin-top: 30px;
			font-size: $Small;
			color: $CinzaExfar;
		}
	}
}

/* custom style */
.radio-group {
	display:inline-flex;
	align-items: center;
	align-content: center;
	padding: 10px 0 !important;
	label {
		margin: 0 0 2px 5px;
	}
}

.progress {
	height: 1.5rem;
}
.mb-2, .my-2 {
	margin-bottom: .5rem!important;
}
.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}
.progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	background-color: #007bff;
	transition: width .6s ease;
}
.bg-primary {
	background-color: #007bff!important;
}
.bg-success {
	background-color: #28a745!important;
}




@import "visitante";
@import "responsive";
