@charset "UTF-8";
/* SELECIONE SUA DISTRIBUIDORA  *************************************/
body.selecione-distribuidora{
	padding-top: 70px;
	img{
		margin-left: auto;
		margin-right: auto;
	}
	.lista-distribuidora{
		font-size: 0;
		li{
			font-size: 1rem;
			width: 33.333%;
			padding: 20px;
			display: inline-block;
			vertical-align: top;
		}
		.bt-sec{
			width: 100%;
		}
	}
	.page-content{
		padding-bottom: 150px;
		background: url(images/selecione-a-sua-regiao.jpg) no-repeat center bottom;
	}
}

/* VISITANTE *************************************/
body.visitante {
	padding-top: 85px !important;
	.ferramentas-topo{
		width: auto;
	}
	.menu-item.login .texto{
		padding-top: 8px;
		font-size: 0.7rem;
	}
	.produtos-list .restrito a{
		font-size: $Small;
		font-weight: 800;
		color: $Laranja;
		display: inline-block;
	}
	.login-boxes{
		font-size: 0;
			.login-box{
				font-size: 0.8rem;
				width: 50%;
				display: inline-block;
				vertical-align: top;
				border-right: solid 1px rgba($Cinza, 0.3);
				.login {
					strong {
						color: $VermelhoExfar;
					}
				}
				&:first-child{
					padding: 20px 30px 30px 0;
				}
				&:last-child{
					padding: 20px 0 30px 30px;
					border: 0;
				}
				form ol li{
					padding-bottom: 20px;
				}
				.bt-sec{
					margin: 0;
				}
				.bt-principal{
					font-size: 1rem;
				}
				> div:first-child{
					margin-bottom: 40px;
				}
				.solicite-acesso {
					strong {
						color: $VermelhoExfar;
					}
				}
			}
	}
	.produtos-content .produtos-list li {
		padding-bottom: 0;
		height: 320px;
	}

}