@charset "UTF-8";

/* CSS RESET*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* ESTRUTURA *************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  padding-top: 143px;
  color: #808080;
  min-width: 320px;
  height: 100%;
}

.wrapper {
  max-width: 1360px;
  padding: 20px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.wrapper.small {
  max-width: 990px;
}

.wrapper.tiny {
  max-width: 790px;
}

.content-site .wrapper {
  max-width: 990px;
  padding: 50px 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin-bottom: 15px;
}

small {
  font-size: 0.815em;
}

strong {
  font-weight: 700;
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.25);
  margin: 40px 0;
}

.azul {
  color: #0071bb;
}

.laranja {
  color: #f9a11d;
}

.vermelho {
  color: #c84906;
}

.entry-content ul,
ol {
  padding: 30px 0 30px 20px;
}

.entry-content ul li,
ol li {
  margin-bottom: 7px;
  position: relative;
}

.entry-content ol li {
  counter-increment: item;
}

.entry-content ol li:first-child {
  counter-reset: item;
}

.entry-content ol li:before {
  content: counters(item, ".") " ";
  font-weight: 700;
  position: absolute;
  top: 0;
  left: -20px;
}

.entry-content ul li:before {
  content: "\25CF";
  font-weight: 700;
  position: absolute;
  top: 0;
  left: -20px;
}

a {
  text-decoration: none;
  color: #4b4a49;
  transition: all 0.2s ease-in-out;
}

.disabled {
  opacity: 0.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  line-height: 1.1em;
  margin-top: 20px;
  color: #4b4a49;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.25em;
  margin-bottom: 10px;
}

h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h6 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.page-content {
  padding-bottom: 40px;
}

.page-content strong {
  color: #d82f0feb;
  transition: all 0.2s ease-in-out;
}

.page-content a {
  color: #d82f0feb;
}

.page-content a:hover,
.page-content a:hover strong {
  color: rgba(192, 42, 13, 0.9215686275) !important;
}

.page-content a.vermelho:hover {
  color: #f97d3b;
}

.page-content a.bt-principal,
.page-content a.bt-sec {
  color: #fff !important;
}

.page-content a.bt-principal:hover,
.page-content a.bt-sec:hover {
  color: #fff !important;
}

.page-content-form {
  margin-top: 50px;
}

.page-title h1 {
  margin-top: 40px;
}

.excerpt {
  font-weight: 200;
}

.center {
  text-align: center;
}

form ol li:before {
  display: none;
}

form ol li label {
  width: 100%;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin-bottom: 7px;
}

form ol li input [type=text],
form ol li input[type=text],
form ol li input[type=password],
form ol li input[type=tel],
form ol li input[type=email],
form ol li input[type=number],
form ol li input[type=date],
form ol li input[type=date-time],
form ol li input[type=url],
form ol li select,
form ol li textarea {
  width: 100%;
  display: block;
  padding: 10px;
  min-height: 50px;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  border-radius: 3px;
}

form ol li textarea {
  height: 200px;
}

form ol li input[type=checkbox].left {
  float: left;
  margin: 7px 5px 0 0;
}

form ol li.erro label {
  color: #c84906;
}

form ol li.erro input {
  border-color: #c84906;
}

form input [type=text],
form input[type=text],
form input[type=password],
form input[type=tel],
form input[type=email],
form input[type=number],
form input[type=date],
form input[type=date-time],
form input[type=url],
form select,
form textarea {
  border: solid 1px rgba(128, 128, 128, 0.4);
  font-family: "Ubuntu", sans-serif;
  color: gray;
}

form input [type=text]:focus,
form input[type=text]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=email]:focus,
form input[type=number]:focus,
form input[type=date]:focus,
form input[type=date-time]:focus,
form input[type=url]:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border: solid 1px rgba(0, 113, 187, 0.25);
}

form input [type=text]::-webkit-input-placeholder,
form input[type=text]::-webkit-input-placeholder,
form input[type=password]::-webkit-input-placeholder,
form input[type=tel]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder,
form input[type=number]::-webkit-input-placeholder,
form input[type=date]::-webkit-input-placeholder,
form input[type=date-time]::-webkit-input-placeholder,
form input[type=url]::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
}

form input [type=text]::-moz-placeholder,
form input[type=text]::-moz-placeholder,
form input[type=password]::-moz-placeholder,
form input[type=tel]::-moz-placeholder,
form input[type=email]::-moz-placeholder,
form input[type=number]::-moz-placeholder,
form input[type=date]::-moz-placeholder,
form input[type=date-time]::-moz-placeholder,
form input[type=url]::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
}

form input [type=text]:-ms-input-placeholder,
form input[type=text]:-ms-input-placeholder,
form input[type=password]:-ms-input-placeholder,
form input[type=tel]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder,
form input[type=number]:-ms-input-placeholder,
form input[type=date]:-ms-input-placeholder,
form input[type=date-time]:-ms-input-placeholder,
form input[type=url]:-ms-input-placeholder,
form select:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
}

form input [type=text]:-moz-placeholder,
form input[type=text]:-moz-placeholder,
form input[type=password]:-moz-placeholder,
form input[type=tel]:-moz-placeholder,
form input[type=email]:-moz-placeholder,
form input[type=number]:-moz-placeholder,
form input[type=date]:-moz-placeholder,
form input[type=date-time]:-moz-placeholder,
form input[type=url]:-moz-placeholder,
form select:-moz-placeholder,
form textarea:-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
}

form legend {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 200;
  color: #d82f0feb;
}

form textarea {
  line-height: 1.5em;
  max-width: 100%;
  font-family: ubuntu;
  color: #808080;
  max-width: 100%;
}

form button,
form input[type=submit] {
  transition: all 0.2s ease-in-out;
}

form fieldset {
  margin-top: 50px;
  border-bottom: solid 1px rgba(128, 128, 128, 0.3);
  padding-bottom: 20px;
}

form fieldset:last-child {
  border-bottom: 0;
}

form .msg-erro {
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
  background: #c84906;
  color: #fff;
  padding: 0 5px;
  display: none;
  margin-top: 0px;
  text-align: center;
  height: 0;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

form .msg-erro.big {
  font-size: 0.815em;
  padding: 10px 30px;
  margin: 20px 0;
  height: auto;
  display: block;
}

form .erro .msg-erro {
  height: auto;
  display: block;
  padding: 5px;
}

.dragdrop-area {
  padding: 30px 20px 20px;
  text-align: center;
  border: dashed 4px rgba(128, 128, 128, 0.3);
}

.dragdrop-area small {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(128, 128, 128, 0.6);
}

.dragdrop-area.active {
  border: dashed 4px #e30a0a;
}

.col-group {
  font-size: 0;
  padding: 0;
  margin-left: -1.5%;
}

.col-1,
.col-2,
.col-3,
.col-2-3,
.col-4,
.col-3-4,
.col-5,
.col-2-5,
.col-3-5,
.col-4-5,
.col-6 {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding: 0 1.5% 30px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-6 {
  width: 16.66%;
}

.bt-principal {
  display: inline-block;
  padding: 10px 15px;
  margin: 20px 0;
  color: #fff;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  background: #f9a11d;
  position: relative;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(250, 250, 0, 0.4) 0%, rgba(250, 250, 0, 0.1) 49%, #f9a11d 50%, #f9a11d 100%);
  border: solid 2px #f9a11d;
  text-shadow: 0px 1px 5px rgba(200, 73, 6, 0.5);
}

.bt-principal:hover {
  color: #fff !important;
  background: #f69607;
  border-color: #ec9006;
}

.bt-sec {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  padding: 10px 15px;
  margin: 20px 0;
  color: #fff !important;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: #d82f0feb;
  border-color: #d82f0feb;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.bt-sec.splog {
  border-color: #5da68e;
  text-shadow: 0px 1px 5px #5da68e;
  background-color: #5da68e;
  color: #fff !important;
}

.bt-sec.mglog {
  border-color: #bf262c;
  text-shadow: 0px 1px 5px #bf262c;
  background-color: #bf262c;
  color: #fff !important;
}

.bt-sec.medicar {
  border-color: #1f3f7b;
  text-shadow: 0px 1px 5px #1f3f7b;
  background-color: #1f3f7b;
  color: #fff !important;
}

.bt-sec:hover {
  color: #fff !important;
  background-image: none;
}

.afterclear:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

/* ICONFONT  *************************************/

@font-face {
  font-family: "grupomed";
  src: url(/fonts/grupomed.eot?15b181c4e6c1d00cc7dad565865024fa);
  src: url(/fonts/grupomed.eot?15b181c4e6c1d00cc7dad565865024fa) format("embedded-opentype"), url(/fonts/grupomed.woff?76c806ab52de71f58dcea4bc361322ee) format("woff"), url(/fonts/grupomed.ttf?4874b319aac659ee1721dcaddf9e7a7b) format("truetype"), url(/fonts/grupomed.svg?444de624e83685124ff735edf19be3d9) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-] {
  position: relative;
}

[data-icon]:before {
  font-family: "grupomed" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "grupomed" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

[class^=icon-]:after,
[class*=" icon-"]:after {
  font-family: "grupomed" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-busca:before {
  content: "a";
}

.icon-carrinho-1:before {
  content: "b";
}

.icon-carrinho-1:after {
  content: "c";
}

.icon-chat-1:before {
  content: "d";
}

.icon-chat-1:after {
  content: "e";
}

.icon-cliente-1:before {
  content: "f";
}

.icon-cliente-1:after {
  content: "g";
}

.icon-estoque-1:before {
  content: "h";
}

.icon-estoque-2:before {
  content: "i";
}

.icon-export:before {
  content: "j";
}

.icon-export:after {
  content: "k";
}

.icon-fechar:before {
  content: "l";
}

.icon-fechar-small:before {
  content: "m";
  font-size: 0.8em;
  color: rgba(128, 128, 128, 0.5);
}

.icon-filiais-1:before {
  content: "n";
}

.icon-filiais-1:after {
  content: "o";
}

.icon-grade:before {
  content: "p";
}

.icon-lista:before {
  content: "q";
}

.icon-menu-1:before {
  content: "r";
}

.icon-menu-1:after {
  content: "s";
}

.icon-pedidos-1:before {
  content: "t";
}

.icon-pedidos-1:after {
  content: "u";
}

.icon-prazo-1:before {
  content: "v";
}

.icon-prazo-1:after {
  content: "w";
}

.icon-print-1:before {
  content: "D";
}

.icon-print-1:after {
  content: "E";
}

.icon-seta:before {
  content: "x";
}

.icon-config:before {
  content: "y";
}

.icon-central-atendimento:before {
  content: "z";
}

.icon-mail:before {
  content: "A";
}

.icon-suporte-ti:before {
  content: "B";
}

.icon-televendas:before {
  content: "C";
}

/* TOPO  *************************************/

header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-height: 143px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
  /* TABELAS TOPO */
}

header .ferramentas-topo {
  float: right;
  width: 310px;
}

header .ferramentas-topo > ul > li {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  padding: 20px 0 10px;
  position: relative;
  /* ÍCONES */
}

header .ferramentas-topo > ul > li [class*=" icon-"],
header .ferramentas-topo > ul > li [class^=icon-] {
  float: left;
  font-size: 25px;
  margin-right: 5px;
}

header .ferramentas-topo > ul > li [class*=" icon-"] .alert,
header .ferramentas-topo > ul > li [class^=icon-] .alert {
  position: absolute;
  display: block;
  font-size: 8px;
  font-weight: 800;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 9px;
  background: #f9a11d;
  color: #fff;
  top: -11px;
  right: -5px;
}

header .ferramentas-topo > ul > li [class*=" icon-"]:before,
header .ferramentas-topo > ul > li [class^=icon-]:before {
  color: #d82f0feb;
}

header .ferramentas-topo > ul > li [class*=" icon-"]:after,
header .ferramentas-topo > ul > li [class^=icon-]:after {
  color: #4b4a49;
}

header .ferramentas-topo > ul > li > a .texto {
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  display: block;
  vertical-align: middle;
  color: #4b4a49;
}

header .ferramentas-topo > ul > li > a .texto strong {
  font-size: 16px;
}

header .ferramentas-topo > ul > li.area-cliente {
  width: 76px;
  text-transform: uppercase;
}

header .ferramentas-topo > ul > li.area-cliente ul {
  min-width: 250px;
  left: 0;
  text-transform: none;
  font-size: 0.815em;
}

header .ferramentas-topo > ul > li.area-cliente ul li a {
  color: #808080;
  display: block;
  padding: 7px 20px;
}

header .ferramentas-topo > ul > li.area-cliente ul li a:hover {
  background: #4b4a49;
  color: #fff;
}

header .ferramentas-topo > ul > li.area-cliente ul li form {
  padding: 20px 20px 0 20px;
}

header .ferramentas-topo > ul > li.area-cliente ul li label {
  margin-bottom: 10px;
  font-size: 0.815em;
  display: block;
  color: #d82f0feb;
}

header .ferramentas-topo > ul > li.area-cliente ul li select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 8pt;
}

header .ferramentas-topo > ul > li.area-cliente ul li #filial-topo {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 8pt;
}

header .ferramentas-topo > ul > li.prazo {
  width: 84px;
}

header .ferramentas-topo > ul > li.prazo > a .texto {
  line-height: 13px;
  top: -2px;
  position: relative;
}

header .ferramentas-topo > ul > li.prazo > a .texto strong {
  position: relative;
  top: 2px;
}

header .ferramentas-topo > ul > li.prazo .icon-prazo-1 {
  top: 3px;
}

header .ferramentas-topo > ul > li.prazo ul {
  min-width: 250px;
  left: 0;
  right: unset;
  padding: 20px;
  font-size: 0.815em;
}

header .ferramentas-topo > ul > li.prazo ul span {
  display: block;
  margin-top: 5px;
}

header .ferramentas-topo > ul > li.prazo ul label {
  margin-bottom: 10px;
  font-size: 0.815em;
  display: block;
  color: #4b4a49;
}

header .ferramentas-topo > ul > li.prazo ul select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

header .ferramentas-topo > ul > li.prazo ul strong {
  color: #d82f0feb;
}

header .ferramentas-topo > ul > li.carrinho {
  width: 127px;
}

header .ferramentas-topo > ul > li.carrinho > a .texto {
  line-height: 25px;
  top: -2px;
  position: relative;
}

header .ferramentas-topo > ul > li.carrinho > a .texto strong {
  position: relative;
  top: 2px;
}

header .ferramentas-topo > ul > li.carrinho ul {
  width: 390px;
}

header .ferramentas-topo > ul > li.carrinho ul .icon-fechar-small {
  font-size: 0.7em;
}

header .ferramentas-topo > ul > li.carrinho ul .icon-fechar-small:before {
  color: rgba(128, 128, 128, 0.5);
}

header .ferramentas-topo > ul > li ul {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

header .ferramentas-topo > ul > li:hover ul {
  display: block;
  visibility: visible;
  height: auto;
  opacity: 1;
  z-index: 999999;
}

header .ferramentas-topo > ul > li.erro > a .texto {
  color: #c84906;
}

header .ferramentas-topo > ul > li.erro [class*=" icon-"]:before,
header .ferramentas-topo > ul > li.erro [class^=icon-]:before,
header .ferramentas-topo > ul > li.erro [class*=" icon-"]:after,
header .ferramentas-topo > ul > li.erro [class^=icon-]:after {
  color: #c84906;
}

header .ferramentas-topo > ul > li.erro .alert {
  background: #c84906;
}

header .busca-form {
  width: auto;
  margin-left: 220px;
  margin-right: 330px;
  padding: 10px 0;
}

header form {
  font-size: 1rem;
}

header form .tabela-produtos {
  width: 100%;
  font-size: 0.815rem;
}

header form .tabela-produtos tr:nth-child(2n) {
  background: transparent;
}

header form .tabela-produtos td {
  vertical-align: middle;
  padding: 10px 5px;
}

header form .tabela-produtos td .bt-principal {
  float: right;
  margin: 0;
}

header form .tabela-produtos td.desc-prod {
  font-size: 10px;
}

header form .tabela-produtos td.col-valor {
  width: 20%;
  text-align: right;
}

header form .tabela-produtos td.col-qtd {
  width: 102px;
}

header form .tabela-produtos td .preco {
  font-size: 1em;
  color: #f9a11d;
}

header form .tabela-produtos td .icon-fechar-small {
  cursor: pointer;
}

header form .tabela-produtos tfoot {
  background: rgba(128, 128, 128, 0.1);
  border-top: solid 1px rgba(128, 128, 128, 0.05);
}

header form .tabela-produtos tfoot td {
  padding: 10px 10px 20px 10px;
  font-size: 0.815em;
}

header form .tabela-produtos tfoot td a.bt-principal {
  -webkit-appearance: push-button;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  font-weight: bold;
  font-size: 1.26em;
}

header form .tabela-produtos tbody {
  width: 100%;
  display: table-caption;
  max-height: 260px;
  overflow: auto;
}

header form .tabela-produtos tbody.empty tr {
  display: block;
  width: 100%;
}

header form .tabela-produtos tbody.empty tr td {
  display: block;
  width: 100%;
  border-bottom: none;
  height: 110px;
  text-align: center;
  line-height: 100px;
}

.busca-form {
  width: 100%;
}

.busca-form form {
  position: relative;
  height: 40px;
}

.busca-form form #busca-topo {
  width: 100%;
  padding: 10px 50px 10px 5px;
  font-style: italic;
  height: inherit;
  background: rgba(128, 128, 128, 0.1);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.busca-form form button.bt-busca {
  position: absolute;
  top: 3px;
  right: 0;
  height: inherit;
  width: 40px;
  font-size: 18px;
  color: rgba(128, 128, 128, 0.5);
  background: none;
  border: 0;
  cursor: pointer;
}

.busca-form form button.bt-busca span {
  font-size: 0;
  text-indent: 9000px;
  display: block;
}

.busca-form .form-floater {
  background: #fff;
  width: 100%;
  min-width: 600px;
  padding: 0 10px;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  position: absolute;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}

.busca-form:hover .form-floater {
  display: none;
  visibility: visible;
  opacity: 1;
}

.busca-form .toggle-busca-avancada {
  position: absolute;
  top: 6px;
  right: 37px;
  font-size: 1.5rem;
  color: rgba(128, 128, 128, 0.6);
  cursor: pointer;
}

.busca-form .toggle-busca-avancada > span.alert {
  position: absolute;
  display: none;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 9px;
  background: #f95a1d;
  color: #fff;
  top: -3px;
  right: -6px;
}

.busca-avancada {
  position: absolute;
  z-index: 900;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 10px 30px 0px 30px;
  background: #fff;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.busca-avancada.open {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.busca-avancada li label {
  font-size: 0.815em;
}

.busca-avancada input[type=text] {
  min-height: 30px;
  font-size: 0.815em;
}

.busca-avancada .bt-principal {
  margin: 0;
  font-size: 0.815em;
}

.busca-avancada a {
  font-size: 0.815em;
}

.menu-sec {
  background: #4b4a49;
  opacity: 1;
  visibility: visible;
  height: auto;
}

.menu-sec .wrapper {
  padding: 0 !important;
}

.menu-sec ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0.815em;
}

.menu-sec ul > li > a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  border: solid 2px rgba(216, 47, 15, 0);
}

.menu-sec ul > li > a:hover {
  background: rgba(192, 42, 13, 0.9215686275);
  border: solid 2px rgba(192, 42, 13, 0.9215686275);
  color: #fff !important;
}

.menu-sec ul > li ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 43px;
  left: 0;
  height: 0;
  transition: all 0.2s ease-in-out;
}

.menu-sec ul > li:not(.oferta-relampago):hover ul {
  visibility: visible;
  opacity: 1;
  height: auto !important;
  overflow: hidden;
}

.oferta-relampago {
  background: #f9a11d;
}

.oferta-relampago > a {
  background-image: linear-gradient(to bottom, rgba(250, 250, 0, 0.4) 0%, rgba(250, 250, 0, 0.1) 49%, #f9a11d 50%, #f9a11d 100%);
  border: solid 2px #f9a11d;
  text-shadow: 0px 1px 5px rgba(200, 73, 6, 0.5);
}

.oferta-relampago > a:hover {
  background: #f9a11d !important;
  border-color: #f9a11d !important;
  color: #fff !important;
}

.oferta-relampago ul {
  background: #ec9006;
  width: 600px;
  font-size: 0;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}

.oferta-relampago ul span,
.oferta-relampago ul a,
.oferta-relampago ul strong {
  color: #fff;
}

.oferta-relampago ul .miniatura {
  width: 50%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

.oferta-relampago ul .descricao {
  width: 50%;
  font-size: 1rem;
  display: inline-block;
  height: 300px;
  vertical-align: top;
  padding: 45px;
  text-align: center;
}

.oferta-relampago ul .descricao h3 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.oferta-relampago ul .desconto {
  left: 240px;
  top: 107px;
}

.oferta-relampago ul .qtd .qtd-btn {
  color: #fff;
}

.oferta-relampago ul .bt-principal:hover {
  background: #f9a11d;
  border-color: #f9a11d;
}

.oferta-relampago.open ul {
  visibility: visible;
  opacity: 1;
  height: auto !important;
  overflow: hidden;
}

.site-branding {
  float: left;
  width: 200px;
}

.site-branding h1.site-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  background: url(/images/logo_exfar.png?7755cd785acd5f6bcec149ee44857446) no-repeat center;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}

.site-branding h1.site-title a {
  display: inline-block;
  width: 160px;
  height: 55px;
  text-decoration: none;
}

.site-branding h1.site-title a span {
  text-indent: -9000px;
  display: block;
  height: inherit;
}

.site-branding .distribuidoras {
  display: inline-block;
  vertical-align: -8px;
  margin: 0;
}

.site-branding .distribuidoras .distribuidora {
  width: 102px;
  height: 27px;
  display: inline-block;
}

.site-branding .distribuidoras .distribuidora span {
  text-indent: -9000px;
  display: block;
  height: inherit;
}

.site-branding .distribuidoras .splog {
  background: url(/images/logos_distribuidoras_splog.svg?359eddd3777330b8cdbea054de7d1b29) no-repeat left center;
}

.site-branding .distribuidoras .medicar {
  background: url(/images/logos_distribuidoras_medicar.svg?8766169c86a655706823bbe259951fbe) no-repeat left center;
}

.site-branding .distribuidoras .vazmed {
  background: url(/images/logos_distribuidoras_vazmed.svg?e006eb7e7071f2d8db8acdb3ffdd49b1) no-repeat left center;
  width: 90px;
}

.site-branding .distribuidoras .mglog {
  background: url(/images/logos_distribuidoras_mglog.svg?8046db46ecc28e62db09da77f0756267) no-repeat left center;
}

.site-branding .distribuidoras .mundimed {
  background: url(/images/logos_distribuidoras_mundimed.svg?05f593452adba6514bc7e060f277e7f8) no-repeat left center;
  height: 30px;
  width: 75px;
}

.site-branding .distribuidoras .canedo {
  background: url(/images/logos_distribuidoras_canedo.svg?3b7c7fbbce8ac00a8aa4cd057242bb79) no-repeat left center;
}

header.alt {
  max-height: 70px;
  transition: all 0.2s ease-in-out;
}

header.alt .wrapper {
  padding: 0 20px;
}

header.alt .site-branding {
  height: 70px;
  padding-top: 10px;
}

header.alt .site-branding .site-title {
  height: 40px;
}

header.alt .site-branding .distribuidoras {
  vertical-align: -4px;
}

header.alt .menu-sec {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.menu-social {
  text-align: center;
  padding: 20px 0;
}

.menu-social li {
  display: inline-block;
  text-indent: -9000px;
  overflow: hidden;
}

.menu-social li a {
  display: block;
  width: 40px;
  height: 40px;
}

.menu-social li.facebook a {
  ackground-position: 0 0;
}

.menu-social li.instagram a {
  background-position: -45px 0;
}

.menu-social li.contato a {
  background-position: -90px 0;
}

header nav.menu-principal .wrapper > ul.menu-idiomas {
  text-align: center;
}

header nav.menu-principal .wrapper > ul.menu-idiomas li {
  display: inline-block;
  width: 40px;
  height: 40px;
}

header nav.menu-principal .wrapper > ul.menu-idiomas li a {
  display: block;
  border: solid 1px #fff;
  font-size: 0.85em !important;
  line-height: 40px;
  text-align: center;
  padding: 0;
}

.owl-item {
  display: inline-block;
}

/* BANNER  *************************************/

#banner-principal {
  width: 100%;
  margin: 0 auto;
  height: 36.6vw;
  overflow: hidden;
  position: relative;
}

#banner-principal img {
  width: 100%;
  max-width: unset;
}

#banner-principal .owl-nav .owl-prev,
#banner-principal .owl-nav .owl-next {
  top: 0;
}

#banner-principal .owl-nav .owl-prev:before,
#banner-principal .owl-nav .owl-next:before {
  line-height: 36.9vw;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  width: 40px;
  display: block;
  cursor: pointer;
  opacity: 0.8;
  font-size: 0;
  top: calc(50% - 36px);
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.owl-nav .owl-prev:before,
.owl-nav .owl-next:before {
  font-family: grupomed;
  content: "x";
  text-indent: 9000px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.owl-nav .owl-prev {
  left: 0;
  transform: rotate(180deg);
}

.owl-nav .owl-prev:hover {
  left: -3px;
}

.owl-nav .owl-next {
  right: 0;
}

.owl-nav .owl-next:hover {
  right: -3px;
}

.owl-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}

.owl-dot {
  display: inline-block;
  margin: 10px 4px;
}

.owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: solid 1px #fff;
}

.owl-dot.active span {
  background: #fff;
}

#banner-secundario {
  background: rgba(128, 128, 128, 0.1);
  border-top: solid 1px rgba(128, 128, 128, 0.3);
  border-bottom: solid 1px rgba(128, 128, 128, 0.3);
  padding: 20px;
}

#banner-secundario .banner-content {
  max-width: 949px;
  overflow: hidden;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
}

#banner-secundario .banner-content img {
  margin: 0 auto;
}

#banner-secundario .banner-content .owl-nav,
#banner-secundario .banner-content .owl-dots {
  display: none;
}

/* PRODUTOS  *************************************/

body.home .produtos-content {
  padding: 80px 0;
}

.produtos-content {
  padding: 30px 0 50px;
  overflow: hidden;
  height: auto;
}

.produtos-content .wrappper {
  position: relative;
  max-width: 990px;
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
}

.produtos-content .wrappper.fullscreen {
  max-width: 100%;
}

.produtos-content .wrappper .loading {
  background-color: #ecececa8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 0 20px;
  margin: 0 auto;
}

.produtos-content .wrappper-cart {
  position: relative;
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
}

.produtos-content .wrappper-cart.fullscreen {
  max-width: 100%;
}

.produtos-content .wrappper-cart .loading {
  background-color: #ecececa8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 0 20px;
  margin: 0 auto;
}

.produtos-content .wrappper-cart table thead.empty {
  display: none;
}

.produtos-content .wrappper-cart table tfoot.empty {
  display: none;
}

.produtos-content .wrappper-cart table tbody.empty {
  width: 100%;
  display: table-caption;
  max-height: 260px;
  overflow: auto;
}

.produtos-content .wrappper-cart table tbody.empty tr {
  display: block;
  width: 100%;
}

.produtos-content .wrappper-cart table tbody.empty tr td {
  display: block;
  width: 100%;
  border-bottom: none;
  height: 110px;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}

.produtos-content > h1 {
  margin-bottom: 50px;
  margin-top: 0;
}

.produtos-content .produtos-list {
  font-size: 0;
}

.produtos-content .produtos-list li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  position: relative;
  height: 370px;
  padding-bottom: 40px;
}

.produtos-content .produtos-list li h3 {
  font-size: 1em;
  height: 51px;
  font-weight: 400;
  overflow: hidden;
  margin: 0 0 10px;
}

.produtos-content .produtos-list li h3 a {
  color: #808080;
}

.produtos-content .produtos-list li .miniatura {
  margin-bottom: 10px;
}

.produtos-content .produtos-list li .preco-disabled {
  color: #0071bb;
  font-size: 0.815em;
  text-decoration: line-through;
}

.produtos-content .produtos-list li .preco {
  color: #f9a11d;
  font-size: 1em;
}

.produtos-content .produtos-list li button.bt-principal {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.produtos-content .produtos-list li:hover h3 a {
  color: #0071bb;
}

.produtos-content.grid4 .produtos-list li {
  margin-right: 50px;
  margin-bottom: 50px;
  width: 200px;
}

.produtos-content.grid4 .produtos-list li:nth-child(4n) {
  margin-right: 0;
}

.produtos-content.grid4 .produtos-list li h3 {
  font-size: 1em;
  max-height: 51px;
}

.produtos-content.grid4 .produtos-list li .desconto {
  top: -20px;
  right: -20px;
  transition: all 0.2s ease-in-out;
}

.produtos-content.grid4 .produtos-list li:hover .desconto {
  top: -25px;
}

.produtos-content.grid5 {
  padding-top: 0 !important;
}

.produtos-content.grid5 > h1 {
  font-size: 1.85em;
  margin-top: 40px;
}

.produtos-content.grid5.slider {
  background: rgba(128, 128, 128, 0.1);
  border-top: solid 1px rgba(128, 128, 128, 0.3);
  border-bottom: solid 1px rgba(128, 128, 128, 0.3);
}

.produtos-content.grid5 .wrappper {
  position: relative;
  padding: 0 30px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.3);
  margin-bottom: 30px;
}

.produtos-content.grid5 .produtos-list {
  overflow: hidden;
  height: auto;
}

.produtos-content.grid5 .produtos-list li {
  padding-top: 80px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  width: 150px;
  height: 420px;
}

.produtos-content.grid5 .produtos-list li .nome-produto {
  font-size: 0.9em;
  height: 32px;
}

.produtos-content.grid5 .produtos-list li .desconto {
  top: 20px;
  right: -15px;
  transition: all 0.2s ease-in-out;
}

.produtos-content.grid5 .produtos-list li .bt-principal {
  font-size: 0.7em;
}

.produtos-content.grid5 .produtos-list li:hover .desconto {
  top: 15px;
}

.produtos-content.grid5 .owl-nav .owl-prev:before,
.produtos-content.grid5 .owl-nav .owl-next:before {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  color: #cdcdcd;
}

.produtos-content.grid5 .owl-dot span {
  border: solid 2px #cdcdcd;
}

.produtos-content.grid5 .owl-dot.active span {
  background: #cdcdcd;
}

.produtos-list ul {
  font-size: 0;
}

.produtos-list ul li {
  display: inline-block;
  font-size: 1rem;
}

.produtos-list .precos {
  display: inline-block;
  width: 100px;
  vertical-align: bottom;
}

.produtos-list .precos span {
  display: block;
  line-height: 1.2em;
}

.produtos-list .qtd {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 12px;
}

.desconto {
  width: 85px !important;
  height: 85px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  font-weight: 800;
  line-height: 1em;
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(200, 73, 6, 0.5);
  background-image: radial-gradient(ellipse farthest-corner at center, #fb8942 0%, #F16D1B 100%);
}

.desconto strong {
  font-size: 1.5em;
  display: block;
  line-height: 1.1em;
  padding: 0;
}

.desconto span {
  font-size: 0.75em;
  display: block;
  line-height: 1.1em;
  padding: 0;
}

.desconto.hot {
  background-image: radial-gradient(ellipse farthest-corner at center, #f4643f 0%, #EB2A21 100%);
}

.valign-container {
  display: table;
}

.valign-container .valign {
  display: table-cell;
  vertical-align: middle;
}

.qtd input {
  width: 40px;
  height: 30px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.qtd .qtd-btn {
  width: 13px;
  height: 17px;
  display: inline-block;
  line-height: 15px;
  text-align: center;
  font-weight: 800;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  color: rgba(128, 128, 128, 0.5);
  margin: 5px;
}

.qtd .qtd-btn:hover {
  background: rgba(128, 128, 128, 0.1);
}

.preco {
  font-weight: bold;
}

.preco strong {
  font-size: 1.6em;
  position: relative;
  top: 2px;
  margin: 0 2px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.produtos-tools {
  padding: 0 20px;
  max-width: 990px;
  margin: 0 auto;
}

.produtos-tools.fullscreen {
  max-width: 100%;
}

.produtos-tools .other-tools {
  margin: 15px 0 30px;
}

.produtos-tools .other-tools form {
  float: left;
  width: 200px;
}

.produtos-tools .other-tools form select {
  height: 30px;
  display: block;
  width: 100%;
}

.produtos-tools .other-tools span {
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
}

.produtos-tools .other-tools .legenda {
  float: right;
}

.produtos-tools .other-tools .legenda [class^=icon-]:before,
.produtos-tools .other-tools .legenda [class*=" icon-"]:before {
  display: inline-block;
  vertical-align: middle;
}

.produtos-tools .other-tools .legenda .icon-lista,
.produtos-tools .other-tools .legenda .icon-grade,
.produtos-tools .other-tools .legenda .icon-export {
  font-size: 2rem;
  line-height: 1rem;
  width: 25px;
  color: rgba(128, 128, 128, 0.75);
}

.produtos-tools .other-tools .legenda .icon-lista:hover:before,
.produtos-tools .other-tools .legenda .icon-lista:hover:after,
.produtos-tools .other-tools .legenda .icon-grade:hover:before,
.produtos-tools .other-tools .legenda .icon-grade:hover:after,
.produtos-tools .other-tools .legenda .icon-export:hover:before,
.produtos-tools .other-tools .legenda .icon-export:hover:after {
  color: #0071bb;
}

.estoque.critico {
  color: #c84906;
}

.estoque.critico .icon-estoque-1:before {
  transform: rotate(180deg);
}

.estoque.moderado {
  color: #f9a11d;
}

.estoque.excelente {
  color: #03d7ff;
}

.estoque [class^=icon-]:before,
.estoque [class*=" icon-"]:before {
  font-size: 1rem;
  margin: 0 5px 0 10px;
}

.pagination {
  float: left;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  display: inline-block;
  padding: 0 15px;
  line-height: 50px;
  background: rgba(128, 128, 128, 0.5);
  min-width: 50px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.pagination li.active a,
.pagination li:hover a {
  background: #f9a11d;
  color: #fff !important;
}

/* PRODUTOS TABLE VIEW *************************************/

.produtos-content.table-view .busca-form {
  max-width: 990px;
  margin: 0 auto;
}

.produtos-content.table-view .other-tools {
  margin: 10px 0;
}

.produtos-content.table-view hr {
  margin: 20px 0 15px;
}

table {
  font-size: 12px;
  background: #fff;
}

table thead th {
  background: #4b4a49;
  color: #fff;
  vertical-align: middle;
  padding: 10px;
  font-weight: 800;
}

table thead th:last-child {
  border-top-right-radius: 5px;
}

table thead th:first-child {
  border-top-left-radius: 5px;
}

table th,
table td {
  text-align: left;
  border-bottom: solid 1px #d9d9d9;
  vertical-align: middle;
}

table th.center,
table td.center {
  text-align: center;
}

table th.right,
table td.right {
  text-align: right;
}

table td {
  padding: 7px;
  position: relative;
}

table tr:nth-child(2n) {
  background: rgba(128, 128, 128, 0.08);
}

table tr.hot {
  background: rgba(249, 161, 29, 0.08);
}

table tr:hover {
  background: rgba(0, 113, 187, 0.08);
}

table tr td:first-child,
table tr th:first-child {
  padding-left: 10px;
}

table .qtd input {
  height: 25px;
  width: 25px;
}

table tfoot td {
  padding: 10px;
  background: rgba(128, 128, 128, 0.2);
  font-size: 1.2rem;
  font-weight: 800;
  text-align: right;
}

/* MÍDIA *************************************/

.midia {
  background: #1f1f1f;
  font-size: 0;
  padding: 30px;
}

.midia .video,
.midia .catalogo {
  font-size: 1rem;
  width: 47.5%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

.midia .video h4 a,
.midia .catalogo h4 a {
  color: #d82f0feb;
  margin-top: 0;
  display: block;
}

.midia .video {
  margin-right: 0;
}

.midia .embed-responsive {
  position: relative;
  padding-bottom: 56.2061%;
  height: 0;
  overflow: hidden;
}

.midia .embed-responsive iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/* PAGINAS *************************************/

.pagina .entry-title .wrapper,
.pagina .entry-content .wrapper,
.post-view .entry-title .wrapper,
.post-view .entry-content .wrapper {
  max-width: 810px;
}

.pagina .entry-title .wrapper {
  padding: 20px;
}

.pagina.comfort .entry-title .miniatura {
  float: right;
  position: relative;
  margin-right: -40px;
  bottom: -20px;
}

.pagina.comfort .entry-title h1 {
  text-indent: -9000px;
  margin-top: 0;
  height: 219px;
  width: 219px;
  margin-bottom: 0;
  display: inline-block;
}

.pagina.sobre .entry-title,
.pagina.representantes .entry-title {
  min-height: 250px;
}

.pagina.sobre .entry-title .miniatura,
.pagina.representantes .entry-title .miniatura {
  float: right;
  position: relative;
  margin-right: -40px;
}

.pagina.sobre .entry-title h1,
.pagina.representantes .entry-title h1 {
  margin-bottom: 0;
}

.pagina.contato .entry-title .wrapper {
  padding-bottom: 0;
}

.pagina.contato .entry-content .wrapper {
  padding-top: 0;
}

/* LOJA PERSONALIZADA *************************************/

body.loja-personalizada {
  background: url(/images/fundo_loja-personalizada.jpg?ba99d306b104d0cf208015badce4d47c) repeat center;
}

body.loja-personalizada .produtos-content {
  background: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* AREA CLIENTE *************************************/

body.area-cliente .area-cliente-container,
body.area-representante .area-cliente-container {
  font-size: 0;
  position: relative;
  min-height: 500px;
}

body.area-cliente .area-cliente-container .lateral,
body.area-representante .area-cliente-container .lateral {
  display: inline-block;
  background: rgba(128, 128, 128, 0.07);
  vertical-align: top;
  width: 190px;
  font-size: 1rem;
  padding: 30px 0;
  border-right: solid 1px rgba(128, 128, 128, 0.25);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

body.area-cliente .area-cliente-container .lateral li,
body.area-representante .area-cliente-container .lateral li {
  position: relative;
  margin-bottom: 7px;
}

body.area-cliente .area-cliente-container .lateral li a,
body.area-representante .area-cliente-container .lateral li a {
  padding: 15px 10px 15px 50px;
  display: block;
  line-height: 1em;
  font-size: 0.815em;
  position: relative;
  left: 1px;
  border-top: solid 1px rgba(128, 128, 128, 0);
  border-bottom: solid 1px rgba(128, 128, 128, 0);
}

body.area-cliente .area-cliente-container .lateral li a:hover,
body.area-representante .area-cliente-container .lateral li a:hover {
  background: #fff;
  border-top: solid 1px rgba(128, 128, 128, 0.25);
  border-bottom: solid 1px rgba(128, 128, 128, 0.25);
}

body.area-cliente .area-cliente-container .lateral li.active a,
body.area-representante .area-cliente-container .lateral li.active a {
  background: #fff;
  border-top: solid 1px rgba(128, 128, 128, 0.25);
  border-bottom: solid 1px rgba(128, 128, 128, 0.25);
}

body.area-cliente .area-cliente-container .lateral li.area-cliente:before,
body.area-representante .area-cliente-container .lateral li.area-cliente:before {
  content: "";
  display: block;
  width: 25px;
  background: url(/images/area-cliente.png?055b2d0bda625c6390418eb144bb2d3b) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  z-index: 900;
}

body.area-cliente .area-cliente-container .lateral li.chat-representante span,
body.area-representante .area-cliente-container .lateral li.chat-representante span {
  top: 15px;
}

body.area-cliente .area-cliente-container .lateral li span,
body.area-representante .area-cliente-container .lateral li span {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 15px;
  line-height: 1em;
  font-size: 1.75em;
  z-index: 900;
}

body.area-cliente .area-cliente-container .lateral li span:before,
body.area-representante .area-cliente-container .lateral li span:before {
  color: #d82f0feb;
}

body.area-cliente .area-cliente-container .lateral li span:after,
body.area-representante .area-cliente-container .lateral li span:after {
  color: #4b4a49;
}

body.area-cliente .area-cliente-container .content,
body.area-representante .area-cliente-container .content {
  display: inline-block;
  font-size: 1rem;
  padding-left: 190px;
  width: 100%;
}

body.area-cliente .area-cliente-container .content .area-cliente-atalhos,
body.area-representante .area-cliente-container .content .area-cliente-atalhos {
  font-size: 0;
  margin-bottom: 50px;
}

body.area-cliente .area-cliente-container .content .area-cliente-atalhos li,
body.area-representante .area-cliente-container .content .area-cliente-atalhos li {
  font-size: 1rem;
  line-height: 1em;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

body.area-cliente .area-cliente-container .content .area-cliente-atalhos li span,
body.area-representante .area-cliente-container .content .area-cliente-atalhos li span {
  display: block;
  line-height: 1em;
  font-size: 4em;
  margin: 0 auto;
  width: 60px;
}

body.area-cliente .area-cliente-container .content .area-cliente-atalhos li span:before,
body.area-representante .area-cliente-container .content .area-cliente-atalhos li span:before {
  color: #d82f0feb;
}

body.area-cliente .area-cliente-container .content .area-cliente-atalhos li span:after,
body.area-representante .area-cliente-container .content .area-cliente-atalhos li span:after {
  color: #4b4a49;
}

body.area-cliente .area-cliente-container .content .produtos-tools,
body.area-representante .area-cliente-container .content .produtos-tools {
  padding: 0;
}

body.area-cliente .area-cliente-container table tr span,
body.area-representante .area-cliente-container table tr span {
  font-size: 1.75rem;
  color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  line-height: 1em;
}

body.area-cliente .area-cliente-container table tr span.estoque,
body.area-cliente .area-cliente-container table tr span.estoque span,
body.area-representante .area-cliente-container table tr span.estoque,
body.area-representante .area-cliente-container table tr span.estoque span {
  cursor: default;
}

body.area-cliente .area-cliente-container table tr strong,
body.area-representante .area-cliente-container table tr strong {
  font-size: 1rem;
}

body.area-cliente .area-cliente-container table tr:hover span:before,
body.area-representante .area-cliente-container table tr:hover span:before {
  color: #0071bb;
}

body.area-cliente .area-cliente-container table tr:hover span:after,
body.area-representante .area-cliente-container table tr:hover span:after {
  color: #f9a11d;
}

body.area-cliente .produtos-tools,
body.area-representante .produtos-tools {
  margin-bottom: 20px;
}

body.area-cliente .produtos-tools .other-tools form select,
body.area-representante .produtos-tools .other-tools form select {
  margin-bottom: 0;
}

/* Personalizações Meus Pedidos  */

body.area-cliente .faturas-hidden,
body.area-representante .faturas-hidden {
  height: 0;
  overflow: hidden;
}

body.area-cliente .faturas-hidden > td,
body.area-representante .faturas-hidden > td {
  padding: 0;
  border: 0;
  display: none;
}

body.area-cliente .faturas-hidden.open,
body.area-representante .faturas-hidden.open {
  height: auto;
}

body.area-cliente .faturas-hidden.open > td,
body.area-representante .faturas-hidden.open > td {
  padding: 15px;
  border-bottom: solid 1px #d9d9d9;
  display: table-cell;
  background: #d9d9d9;
}

body.area-cliente .faturas-hidden.open > div,
body.area-representante .faturas-hidden.open > div {
  padding: 15px;
  background: #d9d9d9;
}

body.area-cliente .faturas-hidden.open th,
body.area-representante .faturas-hidden.open th {
  background: #4b4a49;
}

body.area-cliente .faturas-hidden.open th:last-child,
body.area-representante .faturas-hidden.open th:last-child {
  border-top-right-radius: 0px;
}

body.area-cliente .faturas-hidden.open th:first-child,
body.area-representante .faturas-hidden.open th:first-child {
  border-top-left-radius: 0px;
}

body.area-cliente .info-pedido,
body.area-representante .info-pedido {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  font-size: 0;
  line-height: 24px;
  margin-right: 20px;
  margin-top: 30px;
}

body.area-cliente .info-pedido .left,
body.area-cliente .info-pedido .right,
body.area-representante .info-pedido .left,
body.area-representante .info-pedido .right {
  font-size: 0.8rem;
  color: #808080;
  display: inline-block;
  width: 140px;
  vertical-align: top;
}

body.area-cliente .info-pedido .preco,
body.area-cliente .info-pedido .preco strong,
body.area-representante .info-pedido .preco,
body.area-representante .info-pedido .preco strong {
  font-weight: 400;
  color: #808080;
}

body.area-cliente .log-pedido,
body.area-representante .log-pedido {
  display: inline-block;
  width: calc(100% - 425px);
  vertical-align: top;
  font-size: 0;
  line-height: 24px;
  margin-top: 30px;
}

body.area-cliente .log-pedido .left,
body.area-representante .log-pedido .left {
  font-size: 0.8rem;
  color: #808080;
  display: inline-block;
  width: 140px;
  vertical-align: top;
}

body.area-cliente .log-pedido .right,
body.area-representante .log-pedido .right {
  font-size: 0.8rem;
  color: #808080;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 150px);
}

body.area-cliente .log-pedido .erro,
body.area-representante .log-pedido .erro {
  color: #c84906;
}

body.area-cliente .log-pedido .status-pedido,
body.area-representante .log-pedido .status-pedido {
  font-size: 17px;
  font-weight: 700;
}

body.area-cliente .meus-pedidos-footer a,
body.area-representante .meus-pedidos-footer a {
  font-size: 0.815em;
}

body.area-cliente .meus-pedidos-footer .bt-principal,
body.area-representante .meus-pedidos-footer .bt-principal {
  margin-top: 0 !important;
  margin-bottom: 0;
}

body.area-cliente ul.status,
body.area-representante ul.status {
  font-size: 0;
  margin-bottom: 20px;
}

body.area-cliente ul.status li,
body.area-representante ul.status li {
  font-size: 0.815rem;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  font-weight: 800;
  color: rgba(128, 128, 128, 0.5);
}

body.area-cliente ul.status li:before,
body.area-cliente ul.status li:after,
body.area-representante ul.status li:before,
body.area-representante ul.status li:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: rgba(128, 128, 128, 0.15);
  position: absolute;
  top: 25px;
  z-index: 900;
}

body.area-cliente ul.status li:before,
body.area-representante ul.status li:before {
  left: 0;
}

body.area-cliente ul.status li:after,
body.area-representante ul.status li:after {
  right: 0;
}

body.area-cliente ul.status li:first-child:before,
body.area-cliente ul.status li:last-child:after,
body.area-representante ul.status li:first-child:before,
body.area-representante ul.status li:last-child:after {
  display: none;
}

body.area-cliente ul.status li span,
body.area-representante ul.status li span {
  display: block;
  padding: 0 10px;
  line-height: 44px;
  width: 50px;
  margin: 0 auto;
  background: #f3f3f3;
  border: inset 2px rgba(0, 0, 0, 0.05);
  color: rgba(128, 128, 128, 0.5);
  position: relative;
  margin-bottom: 10px;
  z-index: 950;
  border-radius: 25px;
}

body.area-cliente ul.status li.erro,
body.area-representante ul.status li.erro {
  color: #c84906;
}

body.area-cliente ul.status li.erro span,
body.area-representante ul.status li.erro span {
  background: #c84906;
  color: #fff;
}

body.area-cliente ul.status li.ok,
body.area-representante ul.status li.ok {
  color: #4b4a49;
}

body.area-cliente ul.status li.ok span,
body.area-representante ul.status li.ok span {
  background: #4b4a49;
  color: #fff;
}

/* Chat */

body.area-cliente .chat-header,
body.area-representante .chat-header {
  margin: 20px 0;
}

body.area-cliente .chat-header .nome-representante,
body.area-representante .chat-header .nome-representante {
  font-size: 1.75em;
  font-weight: 700;
  display: inline-block;
  color: #f9a11d;
  font-sty: italic;
  margin: 0;
}

body.area-cliente .chat-header ul,
body.area-representante .chat-header ul {
  float: right;
}

body.area-cliente .chat-header ul li,
body.area-representante .chat-header ul li {
  display: inline-block;
}

body.area-cliente .page-content.chat,
body.area-representante .page-content.chat {
  height: 500px;
  overflow-y: scroll;
  position: relative;
}

body.area-cliente .page-content.chat .chat-nome,
body.area-cliente .page-content.chat .chat-data,
body.area-representante .page-content.chat .chat-nome,
body.area-representante .page-content.chat .chat-data {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
}

body.area-cliente .page-content.chat .chat-data,
body.area-representante .page-content.chat .chat-data {
  left: unset;
  right: 0;
}

body.area-cliente .page-content.chat .content-message,
body.area-representante .page-content.chat .content-message {
  background: rgba(128, 128, 128, 0.1);
  border: solid 1px rgba(128, 128, 128, 0.0025);
  padding: 20px 30px;
  font-size: 0.815em;
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
}

body.area-cliente .page-content.chat .chat-message-1,
body.area-cliente .page-content.chat .chat-message-2,
body.area-representante .page-content.chat .chat-message-1,
body.area-representante .page-content.chat .chat-message-2 {
  width: calc(100% - 50px);
  position: relative;
  padding-top: 20px;
  margin-top: 30px;
  margin-right: 30px;
}

body.area-cliente .page-content.chat .chat-message-2,
body.area-representante .page-content.chat .chat-message-2 {
  padding-right: unset;
  margin-left: 30px;
}

body.area-cliente .page-content.chat .chat-message-2 .content-message,
body.area-representante .page-content.chat .chat-message-2 .content-message {
  background: #0071bb;
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
  color: #fff;
}

body.area-cliente .chat-form form,
body.area-representante .chat-form form {
  width: 100%;
  position: relative;
}

body.area-cliente .chat-form form textarea,
body.area-representante .chat-form form textarea {
  width: 100%;
  min-height: 80px;
  padding: 15px 80px 15px 15px;
}

body.area-cliente .chat-form form button,
body.area-representante .chat-form form button {
  position: absolute;
  top: calc(50% - 25px);
  right: 15px;
  background: none;
  padding: 5px;
  height: 40px;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.75);
  font-size: 0.815em;
  font-family: ubuntu;
  cursor: pointer;
}

body.area-cliente .chat-form form button:hover,
body.area-representante .chat-form form button:hover {
  color: #f9a11d;
}

body.area-cliente .messages-list,
body.area-representante .messages-list {
  border-bottom: solid 1px rgba(128, 128, 128, 0.2);
}

body.area-cliente .messages-list li,
body.area-representante .messages-list li {
  padding: 15px;
  border-top: solid 1px rgba(128, 128, 128, 0.2);
  border-left: solid 1px rgba(128, 128, 128, 0.2);
  border-right: solid 1px rgba(128, 128, 128, 0.2);
}

body.area-cliente .messages-list a,
body.area-representante .messages-list a {
  color: #808080;
}

body.area-cliente .messages-list .data,
body.area-representante .messages-list .data {
  margin: 0;
}

body.area-cliente .messages-list .esquerda .message-preview,
body.area-representante .messages-list .esquerda .message-preview {
  display: block;
  max-height: 16px;
  overflow: hidden;
}

/* FULLBANNER *************************************/

.fullbanner {
  margin: 30px auto;
  max-width: 950px;
}

.fullbanner img {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

/* RODAPÉ *************************************/

footer {
  background: #444444;
  clear: both;
}

footer .wrapper {
  max-width: 990px;
  margin: 0 auto;
  padding: 20px;
}

footer .wrapper h1,
footer .wrapper h2,
footer .wrapper h3,
footer .wrapper h4,
footer .wrapper h5,
footer .wrapper h6 {
  margin: 0;
}

footer .wrapper * {
  color: #fff;
}

footer .newsletter {
  background: #313131;
}

footer .newsletter .wrapper {
  height: 70px;
  padding: 0 20px;
  font-size: 0;
}

footer .newsletter .icon-mail {
  font-size: 3rem;
  line-height: 1em;
  color: #d82f0feb;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

footer .newsletter .icon-mail:before {
  top: -4px;
  position: relative;
}

footer .newsletter .content {
  display: inline-block;
}

footer .newsletter .description {
  width: 505px;
  display: inline-block;
  vertical-align: middle;
}

footer .newsletter .description h3 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #f9a11d;
}

footer .newsletter .description p {
  font-size: 0.8rem;
  margin: 0;
}

footer .newsletter #form-newsletter {
  display: inline-block;
  width: 385px;
  font-size: 0.8rem;
  vertical-align: middle;
  height: inherit;
  position: relative;
}

footer .newsletter #form-newsletter input[type=text] {
  height: inherit;
  width: 100%;
  padding: 10px 40px 10px 10px;
  background: #252525;
  border: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: 200;
}

footer .newsletter #form-newsletter input[type=text]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

footer .newsletter #form-newsletter input[type=text]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

footer .newsletter #form-newsletter input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

footer .newsletter #form-newsletter input[type=text]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

footer .newsletter #form-newsletter button {
  width: 40px;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  font-size: 0;
}

footer .newsletter #form-newsletter button:before {
  content: "x";
  font-family: grupomed;
  font-size: 2rem;
  color: #d82f0feb;
}

footer .footer-info {
  font-size: 0;
}

footer .footer-info .wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

footer .footer-info .footer-content {
  width: 27%;
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: top;
  padding: 40px 30px;
  border-left: solid 1px rgba(216, 47, 15, 0.15);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  height: 260px;
}

footer .footer-info .footer-content:first-child {
  width: 19%;
  padding-left: 0;
  border-left: 0;
}

footer .footer-info .footer-content:last-child {
  padding-right: 0;
  border-right: 0;
}

footer .footer-info .footer-content [class^=icon-]:before,
footer .footer-info .footer-content [class*=" icon-"]:before {
  font-size: 3rem;
  color: #d82f0feb;
}

footer .footer-info .footer-content h3,
footer .footer-info .footer-content h4 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #f9a11d;
}

footer .footer-info .footer-content h3 a,
footer .footer-info .footer-content h4 a {
  color: #d82f0feb;
}

footer .site-branding {
  background: #fff;
  float: none;
  width: 100%;
  height: auto;
  padding: 30px 0;
}

footer .site-branding .site-title {
  display: block;
  margin: 0 auto;
}

footer .site-branding .distribuidora {
  margin-right: 32px;
}

footer .site-branding .distribuidora:last-child {
  margin-right: 0;
}

footer .site-branding .description {
  margin-top: 30px;
  font-size: 0.815em;
  color: #4b4a49;
}

/* custom style */

.radio-group {
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding: 10px 0 !important;
}

.radio-group label {
  margin: 0 0 2px 5px;
}

.progress {
  height: 1.5rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width 0.6s ease;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-success {
  background-color: #28a745 !important;
}

/* SELECIONE SUA DISTRIBUIDORA  *************************************/

body.selecione-distribuidora {
  padding-top: 70px;
}

body.selecione-distribuidora img {
  margin-left: auto;
  margin-right: auto;
}

body.selecione-distribuidora .lista-distribuidora {
  font-size: 0;
}

body.selecione-distribuidora .lista-distribuidora li {
  font-size: 1rem;
  width: 33.333%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

body.selecione-distribuidora .lista-distribuidora .bt-sec {
  width: 100%;
}

body.selecione-distribuidora .page-content {
  padding-bottom: 150px;
  background: url(/images/selecione-a-sua-regiao.jpg?1b7e78e02513151786bac19da225d66d) no-repeat center bottom;
}

/* VISITANTE *************************************/

body.visitante {
  padding-top: 85px !important;
}

body.visitante .ferramentas-topo {
  width: auto;
}

body.visitante .menu-item.login .texto {
  padding-top: 8px;
  font-size: 0.7rem;
}

body.visitante .produtos-list .restrito a {
  font-size: 0.815em;
  font-weight: 800;
  color: #f9a11d;
  display: inline-block;
}

body.visitante .login-boxes {
  font-size: 0;
}

body.visitante .login-boxes .login-box {
  font-size: 0.8rem;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  border-right: solid 1px rgba(128, 128, 128, 0.3);
}

body.visitante .login-boxes .login-box .login strong {
  color: #d82f0feb;
}

body.visitante .login-boxes .login-box:first-child {
  padding: 20px 30px 30px 0;
}

body.visitante .login-boxes .login-box:last-child {
  padding: 20px 0 30px 30px;
  border: 0;
}

body.visitante .login-boxes .login-box form ol li {
  padding-bottom: 20px;
}

body.visitante .login-boxes .login-box .bt-sec {
  margin: 0;
}

body.visitante .login-boxes .login-box .bt-principal {
  font-size: 1rem;
}

body.visitante .login-boxes .login-box > div:first-child {
  margin-bottom: 40px;
}

body.visitante .login-boxes .login-box .solicite-acesso strong {
  color: #d82f0feb;
}

body.visitante .produtos-content .produtos-list li {
  padding-bottom: 0;
  height: 320px;
}

/* RESPONSIVE *************************************/

@media screen and (min-width: 1360px) {
  .menu-sec .wrapper {
    padding: 0 20px !important;
  }
}

@media screen and (min-width: 990px) {
  .menu-mobile {
    display: none;
  }

  body.area-cliente .chat-header .nome-representante {
    float: left;
  }

  [class^=mobile-],
  [class*=" mobile-"] {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  [class^=mobile-],
  [class*=" mobile-"] {
    display: block;
  }

  body {
    padding-top: 130px !important;
  }

  /* TOPO */

  header .menu-principal .wrapper {
    min-height: 85px;
  }

  header .site-branding h1.site-title a {
    width: 122px;
    height: 44px;
  }

  header .mobile-menu-control.ferramentas-topo {
    width: auto;
  }

  header .mobile-menu-control.ferramentas-topo > ul > li {
    padding: 15px 0 0;
  }

  header .mobile-menu-control.ferramentas-topo > ul > li.carrinho {
    width: auto;
  }

  header .mobile-menu-control.ferramentas-topo > ul > li.carrinho ul {
    width: 390px;
  }

  header .mobile-menu-control.ferramentas-topo > ul > li.carrinho ul .icon-fechar-small {
    font-size: 0.7em;
  }

  header .mobile-menu-control.ferramentas-topo > ul > li.carrinho ul .icon-fechar-small:before {
    color: rgba(128, 128, 128, 0.5);
  }

  header .mobile-menu-control.ferramentas-topo > ul > li.toggle-menu {
    z-index: 1100;
  }

  header .mobile-menu-control.ferramentas-topo [class^=icon-]:before,
  header .mobile-menu-control.ferramentas-topo [class*=" icon-"]:before,
  header .mobile-menu-control.ferramentas-topo [class^=icon-]:after,
  header .mobile-menu-control.ferramentas-topo [class*=" icon-"]:after {
    font-size: 1.3em;
  }

  header.alt .mobile-menu-control.ferramentas-topo > ul > li {
    padding: 22px 0 0;
  }

  .menu-sec .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-sec .wrapper > ul > li {
    display: none;
  }

  /* MENU MOBILE *************************************/

  .menu-principal,
  .overlay,
  .menu-mobile,
  .toggle-menu.open .icon-menu-1:after {
    display: none;
  }

  body.menu-open {
    overflow-y: hidden;
  }

  .overlay {
    background: #002b50;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  .overlay.open {
    width: 100vw;
  }

  .menu-mobile {
    padding-top: 0px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1100;
    height: 100vh;
    background: #003664;
  }

  .menu-mobile.open {
    display: block;
  }

  .menu-mobile > .wrapper {
    max-height: calc(100vh - 150px);
  }

  .menu-mobile .wrapper {
    max-width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu-mobile li {
    position: relative;
  }

  .menu-mobile li a,
  .menu-mobile li span {
    color: #fff;
    display: block;
    padding: 5px 20px 5px 10px;
  }

  .menu-mobile li > ul {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.815em;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  .menu-mobile li > ul form {
    padding: 5px 10px;
  }

  .menu-mobile li > ul label {
    color: #fff;
    font-size: 0.815em;
    width: 100%;
    display: block;
  }

  .menu-mobile li > ul select {
    width: 100%;
    display: block;
  }

  .menu-mobile li .toggle {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    background: transparent;
    line-height: 18px;
    border-radius: 10px;
    color: #03d7ff;
  }

  .menu-mobile li .toggle:before {
    content: "+";
  }

  .menu-mobile li.open ul {
    height: auto;
    padding: 10px;
  }

  .menu-mobile li.open .toggle:before {
    content: "-";
  }

  .menu-mobile li .alert {
    position: relative;
    display: inline-block;
    font-size: 8px;
    font-weight: 800;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    background: #f9a11d;
    color: #fff;
    top: -11px;
    right: -5px;
    padding: 0;
  }

  .menu-mobile li.erro .alert {
    background: #c84906;
  }

  .menu-mobile .menu-bottom {
    background: #002b50;
    background: #002b50;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12000;
  }

  .menu-mobile .menu-bottom .oferta-relampago > a {
    text-align: center;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .menu-mobile .menu-bottom .oferta-relampago span {
    padding: 0;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul {
    width: 100% !important;
    text-align: center;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul li > div.miniatura {
    width: 70%;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul li > div.descricao {
    padding: 0px;
    height: auto;
    width: 100%;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul h3 {
    font-size: 0.815em;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul form {
    font-size: 0.815em;
  }

  .menu-mobile .menu-bottom .oferta-relampago ul .bt-principal {
    margin-bottom: 0;
  }

  .menu-mobile .menu-bottom .oferta-relampago .desconto {
    top: -5px;
    left: unset;
    right: -10px;
    padding: 10px;
  }

  .menu-mobile .menu-bottom .oferta-relampago.open ul {
    height: auto !important;
  }

  .menu-mobile .menu-bottom .busca-form {
    margin: 10px 0 0;
    padding-bottom: 0;
  }

  .menu-mobile .menu-bottom .busca-form form #busca-topo {
    background: #fff;
  }

  .toggle-menu.open .icon-menu-1:before {
    content: "l";
    color: #03d7ff;
  }

  /* LISTA PRODUTOS *************************************/

  .produtos-content.grid4 .wrappper {
    max-width: 740px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(4n) {
    margin-right: 50px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(3n) {
    margin-right: 0;
  }

  .produtos-content.grid5 .wrappper {
    max-width: 740px;
  }

  .produtos-tools .other-tools form,
  .produtos-tools .other-tools .legenda {
    width: 100%;
    float: none;
    text-align: center;
  }

  .table-wrapper {
    overflow-x: scroll;
    padding-bottom: 15px;
  }

  table {
    min-width: 750px;
  }

  /* FOOTER *************************************/

  footer .newsletter .wrapper {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 550px;
  }

  footer .newsletter .wrapper .content {
    display: block;
    text-align: center;
  }

  footer .newsletter .wrapper .icon-mail {
    display: block;
  }

  footer .newsletter .wrapper #form-newsletter {
    width: 100%;
    height: 70px;
    margin-top: 20px;
  }

  footer .footer-info .footer-content {
    width: 33.333%;
    border-top: solid 1px rgba(3, 215, 255, 0.15);
  }

  footer .footer-info .footer-content.televendas {
    border-left: 0;
  }

  footer .footer-info .footer-content.menu-footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding-right: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    border-right: 0;
  }

  footer .footer-info .footer-content.menu-footer ul li {
    display: inline-block;
  }

  footer .footer-info .footer-content.menu-footer ul li a {
    padding: 5px;
    margin: 0 5px;
  }

  footer .site-branding h1.site-title {
    margin: 0 auto 30px;
    display: block;
  }

  footer .site-branding .distribuidoras {
    display: block;
    max-width: 480px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
  }

  footer .site-branding .distribuidoras .distribuidora {
    font-size: 1rem;
    width: 160px;
    margin: 0 0 15px;
    background-position: center;
  }

  #banner-principal .owl-nav {
    display: none;
  }

  .content-home {
    padding: 30px 20px;
  }

  .content-home .image {
    width: 100%;
    text-align: center;
    float: none !important;
  }

  .content-home .image img {
    margin: 0 auto;
  }

  .content-home .text {
    width: 100%;
    margin: 0 !important;
  }

  .content-home.clinic-comfort .text .wrapper,
  .content-home.comfort .text .wrapper {
    float: none;
    margin: 0 auto;
  }

  /* AREA CLIENTE *************************************/

  body.area-cliente .area-cliente-container .lateral,
  body.area-representante .area-cliente-container .lateral {
    display: none;
  }

  body.area-cliente .area-cliente-container .content,
  body.area-representante .area-cliente-container .content {
    padding-left: 0;
  }

  .meus-pedidos-footer a {
    font-size: 0.815em;
  }

  .meus-pedidos-footer .bt-principal {
    margin-top: 0 !important;
    margin-bottom: 0;
  }

  .meus-pedidos-footer a {
    width: 100%;
    margin: 0 auto 15px !important;
    text-align: center;
    display: block;
    max-width: 230px;
    float: none !important;
  }
}

@media screen and (max-width: 768px) {
  body.selecione-distribuidora {
    padding-top: 0 !important;
  }

  .hidden-mobile {
    display: none;
  }

  /* LISTA PRODUTOS *************************************/

  .produtos-content.grid4 .wrappper {
    max-width: 490px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(3n) {
    margin-right: 50px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(2n) {
    margin-right: 0;
  }

  .produtos-content.grid5 .wrappper {
    max-width: 740px;
  }

  /* MIDIA *************************************/

  .midia .video,
  .midia .catalogo {
    width: 100%;
    margin: 0 0 0 10px;
  }

  /* FORMS *************************************/

  .col-1,
  .col-2,
  .col-3,
  .col-2-3,
  .col-4,
  .col-3-4,
  .col-5,
  .col-2-5,
  .col-3-5,
  .col-4-5,
  .col-6 {
    width: 100%;
  }

  body.area-cliente .log-pedido,
  body.area-cliente .info-pedido,
  body.area-representante .log-pedido,
  body.area-representante .info-pedido {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  body.area-cliente .log-pedido .left,
  body.area-cliente .info-pedido .left,
  body.area-representante .log-pedido .left,
  body.area-representante .info-pedido .left {
    width: 90px;
    margin-right: 5px;
  }

  body.area-cliente .log-pedido li,
  body.area-cliente .info-pedido li,
  body.area-representante .log-pedido li,
  body.area-representante .info-pedido li {
    margin-bottom: 10px;
    line-height: 1.2rem;
  }

  body.area-cliente .page-content.chat .chat-data,
  body.area-representante .page-content.chat .chat-data,
  body.area-cliente .page-content.chat .chat-nome,
  body.area-representante .page-content.chat .chat-nome {
    position: relative;
    line-height: 1em;
  }

  body.area-cliente .page-content.chat .chat-message-2,
  body.area-representante .page-content.chat .chat-message-2 {
    text-align: right;
  }

  body.area-cliente .page-content.chat .chat-message-2 .content-message,
  body.area-representante .page-content.chat .chat-message-2 .content-message {
    text-align: left;
  }
}

@media (min-width: 600px) {
  .alignright {
    float: right;
    margin: 0 0 30px 30px;
  }

  .alignright.bt-principal {
    margin-top: 20px;
  }

  .alignleft {
    float: left;
    margin: 0 30px 30px 0;
  }

  body.area-cliente .page-content.chat,
  body.area-representante .page-content.chat {
    height: 300px;
  }
}

@media (max-width: 559px) {
  .alignright.bt-principal {
    float: right;
  }
}

@media screen and (max-width: 549px) {
  body.selecione-distribuidora .lista-distribuidora li {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  /* TOPO  *************************************/

  header {
    width: 100vw;
    min-width: 320px;
  }

  header .site-branding {
    width: 140px;
  }

  header .site-branding .distribuidoras {
    display: none;
  }

  body.visitante .login-boxes .login-box:first-child,
  body.visitante .login-boxes .login-box:last-child {
    border: 0;
    width: 100%;
    padding: 0;
  }

  /* LISTA PRODUTOS *************************************/

  .produtos-content.grid4 .wrappper {
    max-width: 240px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(3n) {
    margin-right: 0px;
  }

  .produtos-content.grid4 .produtos-list li:nth-child(2n) {
    margin-right: 0;
  }

  .produtos-content.grid4 .produtos-list li:last-child {
    display: inline-block;
  }

  .produtos-content.grid5 .wrappper {
    max-width: 740px;
  }

  .produtos-tools .other-tools .legenda span {
    font-size: 10px;
  }

  body.area-cliente .area-cliente-container .content .area-cliente-atalhos li,
  body.area-representante .area-cliente-container .content .area-cliente-atalhos li {
    font-size: 11px;
  }

  body.area-cliente .area-cliente-container .content .area-cliente-atalhos li span,
  body.area-representante .area-cliente-container .content .area-cliente-atalhos li span {
    width: 43px;
  }

  body.area-cliente .area-cliente-container .content .area-cliente-atalhos.mobile-only,
  body.area-representante .area-cliente-container .content .area-cliente-atalhos.mobile-only {
    margin-top: 30px;
  }

  body.area-cliente ul.status,
  body.area-representante ul.status {
    min-width: 400px;
  }

  body.area-cliente ul.status li,
  body.area-representante ul.status li {
    font-size: 11px;
  }

  body.area-cliente .page-content.chat,
  body.area-representante .page-content.chat {
    height: 250px;
  }

  /* FOOTER *************************************/

  footer .newsletter .description {
    width: auto;
  }

  footer .footer-info .footer-content {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(3, 215, 255, 0.15);
    text-align: center;
    height: auto;
  }
}

