@import "helpers/helpers";
@import "components/components";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
}

//SOBRE
#secao-sobre {
  margin-top: 90px;
  margin-bottom: 50px;
  .descricao {
    border-top: 2px solid #8a8a8a;
    padding-top: 30px;
    border-bottom: 2px solid #e6451b;
    padding-bottom: 30px;
    .titleSobre {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 25px;
      color: #292929;
    }
    .textSobre {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 30px;

      @media (min-width: 992px) {
        width: 360px;
      }
    }

    .btn-primary {
      margin-bottom: 30px;
    }
  }
  .topicos {
    img {
      width: 300px;
      display: block;
      margin: 20px auto 20px auto;
    }
  }
}

#logos {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  .template-logos {
    .swiper-wrapper {
      .swiper-slide {
        div {
          width: 200px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  h2.background {
    position: relative;
    z-index: 1;
  }
  h2.background:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;

    position: absolute;

    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h2.background span {
    background: #fff;
    padding: 0 50px;
  }
}

#contact {
  background: #fff;
  padding-bottom: 60px;
  .contact-header {
    position: relative;
    height: 195px;
    margin-bottom: 45px;
    background-image: url("./../img/bannerHeader.png");
    background-position: top center;
    background-size: cover;
    .contact-header-shadow {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      h2 {
        font-size: 45px;
        color: #fff;
      }
    }
  }

  .contact-form {
    .contact-form-headers {
      margin-bottom: 30px;

      h4 {
        color: #db101c;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
      }
      p {
        font-size: 15px;
      }
    }

    .contact-form-content {
      .btn-primary {
        margin-top: 10px;
        // margin-bottom: 15px;
        float: right;
      }

      .form-control:focus {
        box-shadow: none;
        border-color: #ced4da;
      }

      @media (max-width: 768px) {
        #map {
          margin-top: 40px;
        }
        .btn-primary {
          width: 100%;
        }
      }
    }
  }
}

#about {
  background: #fff;
  padding-bottom: 60px;
  .about-header {
    position: relative;
    height: 195px;
    margin-bottom: 45px;
    background-image: url("./../img/bannerHeader.png");
    background-position: top center;
    background-size: cover;
    .about-header-shadow {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      h2 {
        font-size: 45px;
        color: #fff;
      }
    }
  }
  .about-text {
    h3 {
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      text-justify: auto;
      line-height: 30px;
    }
    .about-img {
      height: 460px;
      width: 600px;
      float: right;
    }
  }
  .topicos-missao {
    // @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
    // * {      box-sizing: border-box; }
    .blog-slider {
      width: 95%;
      position: relative;
      max-width: 100%;
      margin: auto;
      background: #fff;
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
      padding: 25px;
      border-radius: 25px;
      height: 400px;
      transition: all 0.3s;
      margin-top: 80px;

      @media screen and (max-width: 992px) {
        max-width: 680px;
        height: 400px;
      }

      @media screen and (max-width: 768px) {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
      }

      @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 350px;
      }

      &__item {
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        &.swiper-slide-active {
          .blog-slider__img {
            img {
              opacity: 1;
              transition-delay: 0.3s;
            }
          }
          .blog-slider__content {
            > * {
              opacity: 1;
              transform: none;

              @for $i from 0 to 15 {
                &:nth-child(#{$i + 1}) {
                  transition-delay: $i * 0.1 + 0.3s;
                }
              }
            }
          }
        }
      }

      &__img {
        // width: 40%;
        width: 300px;
        flex-shrink: 0;
        height: 300px;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
        border-radius: 20px;
        transform: translateX(-80px);

        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
          border-radius: 20px;
          opacity: 0.8;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          opacity: 0;
          border-radius: 20px;
          transition: all 0.3s;
        }

        @media screen and (max-width: 992px) {
          // width: 45%;
        }
        @media screen and (max-width: 768px) {
          transform: translateY(-50%);
          width: 90%;
        }
        @media screen and (max-width: 576px) {
          width: 95%;
        }
        @media screen and (max-height: 500px) and (min-width: 992px) {
          height: 270px;
        }
      }

      &__content {
        // width: 60%;
        padding-right: 50px;
        @media screen and (max-width: 992px) {
          // width: 55%;
        }
        @media screen and (max-width: 768px) {
          margin-top: -80px;
          text-align: center;
          padding: 0 30px;
        }

        @media screen and (max-width: 576px) {
          padding: 0;
        }
        > * {
          opacity: 0;
          transform: translateY(25px);
          transition: all 0.4s;
        }
      }

      &__code {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
      }

      &__title {
        font-size: 24px;
        font-weight: 700;
        color: #0d0925;
        margin-bottom: 20px;
      }

      &__text {
        color: #4e4a67;
        margin-bottom: 30px;
        line-height: 1.5em;
      }

      &__button {
        display: inline-flex;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
        text-decoration: none;
        font-weight: 500;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
        @media screen and (max-width: 576px) {
          width: 100%;
        }
      }
      .swiper-container-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
      }
      &__pagination {
        position: absolute;
        z-index: 21;
        right: 20px;
        width: 11px !important;
        text-align: center;
        left: auto !important;
        top: 50%;
        bottom: auto !important;
        transform: translateY(-50%);
        @media screen and (max-width: 768px) {
          transform: translateX(-50%);
          left: 50% !important;
          top: 205px;
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 8px 0;
          @media screen and (max-width: 768px) {
            margin: 0 5px;
          }
        }

        .swiper-pagination-bullet {
          width: 11px;
          height: 11px;
          display: block;
          border-radius: 10px;
          background: #062744;
          opacity: 0.2;
          transition: all 0.3s;
          &-active {
            opacity: 1;
            background: #fd3838;
            height: 30px;
            box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

            @media screen and (max-width: 768px) {
              height: 11px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
#work {
  background: #fff;
  padding-bottom: 60px;
  .work-header {
    position: relative;
    height: 195px;
    margin-bottom: 45px;
    background-image: url("./../img/bannerHeader.png");
    background-position: top center;
    background-size: cover;
    .work-header-shadow {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      h2 {
        font-size: 45px;
        color: #fff;
      }
    }
  }

  .work-form {
    .work-form-headers {
      margin-bottom: 30px;

      h4 {
        color: #db101c;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
      }
      p {
        font-size: 15px;
      }
    }

    .work-form-content {
      .btn-primary {
        margin-top: 5px;
        float: right;
      }

      .form-control:focus {
        box-shadow: none;
        border-color: #ced4da;
      }

      @media (max-width: 768px) {
        .btn-primary {
          width: 100%;
        }
      }
    }
  }
}
