/* RESET
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

/* Mixins
   ========================================================================== */
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.strong {
  font-weight: bold;
}

.text-u-c {
  text-transform: uppercase;
}

.text-l-t {
  text-decoration: line-through;
}

.text-u-l {
  text-decoration: underline;
}

.wrapper-xs {
  padding: 5px;
}

.wrapper-sm {
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.wrapper-md {
  padding: 20px;
}

.wrapper-lg {
  padding: 30px;
}

.wrapper-xl {
  padding: 50px;
}

.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.padder-md {
  padding-left: 20px;
  padding-right: 20px;
}

.padder {
  padding-left: 15px;
  padding-right: 15px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padder-v50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padder {
  padding: 0 !important;
}

.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}

.pull-out {
  margin: -10px -15px;
}

.p-t-xs {
  padding-top: 10px;
}

.p-t-sm {
  padding-top: 20px;
}

.p-r-xs {
  padding-right: 10px;
}

.p-l-xs {
  padding-left: 10px;
}

.p-b-xxs {
  padding-bottom: 5px;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-xxl {
  margin-left: 50px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-l-n-xxl {
  margin-left: -50px;
}

.m-t-none {
  margin-top: 0 !important;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xlg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-t-xxxl {
  margin-top: 80px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-t-n-xxl {
  margin-top: -50px;
}

.m-r-none {
  margin-right: 0 !important;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-xxl {
  margin-right: 50px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-r-n-xxl {
  margin-right: -50px;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-xxl {
  margin-bottom: 50px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.m-b-n-xxl {
  margin-bottom: -50px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#header .navbar {
  padding: 0px;
  background-color: white !important;
  border-bottom: 3px solid #d8d8d8;
}
@media (min-width: 960px) {
  #header .navbar {
    height: 80px;
  }
}
#header .navbar .container .navbar-brand img {
  width: 130px;
  transition: 0.5s all ease-in-out;
}
#header .navbar .container .navbar-brand:hover img {
  width: 140px;
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
@media (min-width: 960px) {
  #header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    height: 80px;
    padding-top: 30px;
    margin-bottom: -3px;
  }
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: black;
  transition: 0.2s all ease-in-out;
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item #btn-SegundaVia {
  background-color: #f9f9f9;
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item #telefone {
  color: #DB0E1C;
}
#header .navbar .container .navbar-collapse .navbar-nav .nav-item #telefone:hover {
  border: none;
}
@media (min-width: 960px) {
  #header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: black;
    border-bottom: solid 3px #DB0E1C;
  }
}
@media (max-width: 959px) {
  #header .navbar .container .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-left: 10px;
  }
}
#header .navbar .container .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

#footer {
  padding-top: 30px;
  background-color: #878787;
  color: white;
  padding-bottom: 15px;
}
#footer .footer-section {
  margin-bottom: 30px;
}
#footer .footer-section .footer-section-logo img {
  width: 140px;
}
#footer .footer-section .footer-section-header {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
}
#footer .footer-section p {
  font-weight: 300;
  font-size: 15px;
}
#footer .footer-section a {
  color: #fff;
}
#footer .footer-section a:hover {
  text-decoration: none;
}
#footer .subfooter {
  border-top: 1px solid #d3d3d3;
  height: 40px;
}
#footer .subfooter p {
  margin-top: 20px;
  font-size: 12px;
}
#footer .subfooter a {
  margin-left: auto;
}
#footer .subfooter a img {
  height: 50px;
}
@media (max-width: 768px) {
  #footer .footer-section {
    text-align: center;
    margin-bottom: 25px;
  }
  #footer .subfooter p {
    margin-left: 15px;
  }
}

.btn-primary {
  background-image: linear-gradient(to right, #DB0E1C, #E9501C);
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-primary:hover {
  background-position: right center;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
}

#secao-sobre {
  margin-top: 90px;
  margin-bottom: 50px;
}
#secao-sobre .descricao {
  border-top: 2px solid #8a8a8a;
  padding-top: 30px;
  border-bottom: 2px solid #e6451b;
  padding-bottom: 30px;
}
#secao-sobre .descricao .titleSobre {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #292929;
}
#secao-sobre .descricao .textSobre {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  #secao-sobre .descricao .textSobre {
    width: 360px;
  }
}
#secao-sobre .descricao .btn-primary {
  margin-bottom: 30px;
}
#secao-sobre .topicos img {
  width: 300px;
  display: block;
  margin: 20px auto 20px auto;
}

#logos {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
#logos .template-logos .swiper-wrapper .swiper-slide div {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#logos h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#logos h2.background {
  position: relative;
  z-index: 1;
}
#logos h2.background:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
#logos h2.background span {
  background: #fff;
  padding: 0 50px;
}

#contact {
  background: #fff;
  padding-bottom: 60px;
}
#contact .contact-header {
  position: relative;
  height: 195px;
  margin-bottom: 45px;
  background-image: url("./../img/bannerHeader.png");
  background-position: top center;
  background-size: cover;
}
#contact .contact-header .contact-header-shadow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
#contact .contact-header .contact-header-shadow h2 {
  font-size: 45px;
  color: #fff;
}
#contact .contact-form .contact-form-headers {
  margin-bottom: 30px;
}
#contact .contact-form .contact-form-headers h4 {
  color: #db101c;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
#contact .contact-form .contact-form-headers p {
  font-size: 15px;
}
#contact .contact-form .contact-form-content .btn-primary {
  margin-top: 10px;
  float: right;
}
#contact .contact-form .contact-form-content .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
@media (max-width: 768px) {
  #contact .contact-form .contact-form-content #map {
    margin-top: 40px;
  }
  #contact .contact-form .contact-form-content .btn-primary {
    width: 100%;
  }
}

#about {
  background: #fff;
  padding-bottom: 60px;
}
#about .about-header {
  position: relative;
  height: 195px;
  margin-bottom: 45px;
  background-image: url("./../img/bannerHeader.png");
  background-position: top center;
  background-size: cover;
}
#about .about-header .about-header-shadow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
#about .about-header .about-header-shadow h2 {
  font-size: 45px;
  color: #fff;
}
#about .about-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}
#about .about-text p {
  font-size: 16px;
  text-justify: auto;
  line-height: 30px;
}
#about .about-text .about-img {
  height: 460px;
  width: 600px;
  float: right;
}
#about .topicos-missao .blog-slider {
  width: 95%;
  position: relative;
  max-width: 100%;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  margin-top: 80px;
}
@media screen and (max-width: 992px) {
  #about .topicos-missao .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  #about .topicos-missao .blog-slider {
    height: 350px;
  }
}
#about .topicos-missao .blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__item {
    flex-direction: column;
  }
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
#about .topicos-missao .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
#about .topicos-missao .blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
#about .topicos-missao .blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.8;
}
#about .topicos-missao .blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  #about .topicos-missao .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  #about .topicos-missao .blog-slider__img {
    height: 270px;
  }
}
#about .topicos-missao .blog-slider__content {
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  #about .topicos-missao .blog-slider__content {
    padding: 0;
  }
}
#about .topicos-missao .blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
#about .topicos-missao .blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
#about .topicos-missao .blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
#about .topicos-missao .blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
#about .topicos-missao .blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  #about .topicos-missao .blog-slider__button {
    width: 100%;
  }
}
#about .topicos-missao .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
#about .topicos-missao .blog-slider .swiper-pagination-custom,
#about .topicos-missao .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
#about .topicos-missao .blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#about .topicos-missao .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
#about .topicos-missao .blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
#about .topicos-missao .blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  #about .topicos-missao .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

#work {
  background: #fff;
  padding-bottom: 60px;
}
#work .work-header {
  position: relative;
  height: 195px;
  margin-bottom: 45px;
  background-image: url("./../img/bannerHeader.png");
  background-position: top center;
  background-size: cover;
}
#work .work-header .work-header-shadow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
#work .work-header .work-header-shadow h2 {
  font-size: 45px;
  color: #fff;
}
#work .work-form .work-form-headers {
  margin-bottom: 30px;
}
#work .work-form .work-form-headers h4 {
  color: #db101c;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
#work .work-form .work-form-headers p {
  font-size: 15px;
}
#work .work-form .work-form-content .btn-primary {
  margin-top: 5px;
  float: right;
}
#work .work-form .work-form-content .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
@media (max-width: 768px) {
  #work .work-form .work-form-content .btn-primary {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
