// LOGOS FIM
.btn-primary {
    background-image: linear-gradient(to right, #DB0E1C, #E9501C);
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary:hover {
    background-position: right center;
  }