#footer {
    padding-top: 30px;
    background-color: #878787;
    color: white;
    padding-bottom: 15px;
    .footer-section {
        margin-bottom: 30px;
        .footer-section-logo {
            img { width: 140px; }
        }
        .footer-section-header {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 25px;
        }

        p {
            font-weight: 300;
            font-size: 15px;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }
    .subfooter {
        border-top: 1px solid #d3d3d3;
        height: 40px;
        p {
            margin-top: 20px;
            font-size: 12px;
        }
        a {
            margin-left: auto;
            img {
                height: 50px;
            }
        }
    }

    @media (max-width:768px) {
        .footer-section {
            text-align: center;
            margin-bottom: 25px;
        }
        .subfooter {
            p {
                margin-left: 15px;
            }
        }
    }
}