#header {
    .navbar {
        padding: 0px;
        background-color: white !important;
        border-bottom: 3px solid #d8d8d8;

        @media(min-width:960px){height: 80px;}

        .container {
            .navbar-brand {
                img {
                    width: 130px;
                    transition: 0.5s all ease-in-out;
                }
            }
            .navbar-brand:hover {
                img {
                    width: 140px;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding-right: 25px;
                            padding-left: 25px;
                            font-weight: 700;
                            font-size: 12px;
                            text-transform: uppercase;
                            transition: .2s all ease-in-out;
                            
                            @media (min-width:960px) {
                                height: 80px;
                                padding-top: 30px;
                                margin-bottom: -3px;
                               
                            }
                        }

                        .dropdown-menu {
                            .dropdown-item {
                                font-size: 12px;
                                text-transform: uppercase;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                font-weight: 700;
                                color: rgba(0,0,0,.5);

                                &:hover {
                                    background: #fff;
                                    color: black;
                                    transition: .2s all ease-in-out;
                                }
                            }
                        }

                       
                        
                        #btn-SegundaVia { background-color: #f9f9f9; }
                
                        #telefone { color: #DB0E1C; }
                
                        #telefone:hover { border: none;}

                        @media (min-width:960px) {

                            .nav-link:hover {
                                color: black;
                                border-bottom: solid 3px #DB0E1C;
                            }                      
                        }

                        @media (max-width:959px) {
                            .dropdown-menu {
                                display: block;
                                border: none;
                                margin-left: 10px;
                            }
                        }
                    }
                    .dropdown:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    } 
                }
            }
        }
    }
    // .filter {
    //     background-color: #1a1a1a75;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 9;
    //     .btn-banner {
    //         background-color: #DB0E1C;
    //         text-transform: uppercase;
    //         font-size: 12px;
    //         text-align: center;
    //         color: white;
    //         font-weight: 700;
    //         padding: 12px;
    //         margin-left: auto;
    //         margin-right: auto;
    //     }
    // }

}